In [99]:
import pandas as pd 
import numpy as np 

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error , mean_absolute_error , r2_score

In [8]:
data = pd.read_csv('House_Rent_Dataset.csv')

In [9]:
data.head(10)

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner
5,2022-04-29,2,7000,600,Ground out of 1,Super Area,Thakurpukur,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
6,2022-06-21,2,10000,700,Ground out of 4,Super Area,Malancha,Kolkata,Unfurnished,Bachelors,2,Contact Agent
7,2022-06-21,1,5000,250,1 out of 2,Super Area,Malancha,Kolkata,Unfurnished,Bachelors,1,Contact Agent
8,2022-06-07,2,26000,800,1 out of 2,Carpet Area,"Palm Avenue Kolkata, Ballygunge",Kolkata,Unfurnished,Bachelors,2,Contact Agent
9,2022-06-20,2,10000,1000,1 out of 3,Carpet Area,Natunhat,Kolkata,Semi-Furnished,Bachelors/Family,2,Contact Owner

In [10]:
data.tail(10)

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
4736,2022-06-28,3,15000,1500,Lower Basement out of 2,Super Area,Almasguda,Hyderabad,Semi-Furnished,Family,3,Contact Owner
4737,2022-07-07,3,15000,1500,Lower Basement out of 2,Super Area,Almasguda,Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Owner
4738,2022-07-06,2,17000,855,4 out of 5,Carpet Area,"Godavari Homes, Quthbullapur",Hyderabad,Unfurnished,Bachelors,2,Contact Agent
4739,2022-07-06,2,25000,1040,2 out of 4,Carpet Area,Gachibowli,Hyderabad,Unfurnished,Bachelors,2,Contact Owner
4740,2022-06-02,2,12000,1350,2 out of 2,Super Area,Old Alwal,Hyderabad,Unfurnished,Bachelors/Family,2,Contact Owner
4741,2022-05-18,2,15000,1000,3 out of 5,Carpet Area,Bandam Kommu,Hyderabad,Semi-Furnished,Bachelors/Family,2,Contact Owner
4742,2022-05-15,3,29000,2000,1 out of 4,Super Area,"Manikonda, Hyderabad",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Owner
4743,2022-07-10,3,35000,1750,3 out of 5,Carpet Area,"Himayath Nagar, NH 7",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Agent
4744,2022-07-06,3,45000,1500,23 out of 34,Carpet Area,Gachibowli,Hyderabad,Semi-Furnished,Family,2,Contact Agent
4745,2022-05-04,2,15000,1000,4 out of 5,Carpet Area,Suchitra Circle,Hyderabad,Unfurnished,Bachelors,2,Contact Owner

In [11]:
data.shape

(4746, 12)

In [12]:
data.columns

Index(['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact'],
      dtype='object')

In [13]:
data.ndim

2

In [14]:
data.info

<bound method DataFrame.info of        Posted On  BHK   Rent  Size            Floor    Area Type  \
0     2022-05-18    2  10000  1100  Ground out of 2   Super Area
1     2022-05-13    2  20000   800       1 out of 3   Super Area
2     2022-05-16    2  17000  1000       1 out of 3   Super Area
3     2022-07-04    2  10000   800       1 out of 2   Super Area
4     2022-05-09    2   7500   850       1 out of 2  Carpet Area
...          ...  ...    ...   ...              ...          ...
4741  2022-05-18    2  15000  1000       3 out of 5  Carpet Area
4742  2022-05-15    3  29000  2000       1 out of 4   Super Area
4743  2022-07-10    3  35000  1750       3 out of 5  Carpet Area
4744  2022-07-06    3  45000  1500     23 out of 34  Carpet Area
4745  2022-05-04    2  15000  1000       4 out of 5  Carpet Area

                 Area Locality       City Furnishing Status  Tenant Preferred  \
0                       Bandel    Kolkata       Unfurnished  Bachelors/Family
1     Phool Bagan, Kankurgachi    Kolkata    Semi-Furnished  Bachelors/Family
2      Salt Lake City Sector 2    Kolkata    Semi-Furnished  Bachelors/Family
3                  Dumdum Park    Kolkata       Unfurnished  Bachelors/Family
4                South Dum Dum    Kolkata       Unfurnished         Bachelors
...                        ...        ...               ...               ...
4741              Bandam Kommu  Hyderabad    Semi-Furnished  Bachelors/Family
4742      Manikonda, Hyderabad  Hyderabad    Semi-Furnished  Bachelors/Family
4743      Himayath Nagar, NH 7  Hyderabad    Semi-Furnished  Bachelors/Family
4744                Gachibowli  Hyderabad    Semi-Furnished            Family
4745           Suchitra Circle  Hyderabad       Unfurnished         Bachelors

      Bathroom Point of Contact
0            2    Contact Owner
1            1    Contact Owner
2            1    Contact Owner
3            1    Contact Owner
4            1    Contact Owner
...        ...              ...
4741         2    Contact Owner
4742         3    Contact Owner
4743         3    Contact Agent
4744         2    Contact Agent
4745         2    Contact Owner

[4746 rows x 12 columns]>

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   int64
 11  Point of Contact   4746 non-null   object
dtypes: int64(4), object(8)
memory usage: 445.1+ KB

In [16]:
data.describe()

               BHK          Rent         Size     Bathroom
count  4746.000000  4.746000e+03  4746.000000  4746.000000
mean      2.083860  3.499345e+04   967.490729     1.965866
std       0.832256  7.810641e+04   634.202328     0.884532
min       1.000000  1.200000e+03    10.000000     1.000000
25%       2.000000  1.000000e+04   550.000000     1.000000
50%       2.000000  1.600000e+04   850.000000     2.000000
75%       3.000000  3.300000e+04  1200.000000     2.000000
max       6.000000  3.500000e+06  8000.000000    10.000000

In [17]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
BHK,4746.0,2.083860,0.832256,1.0,2.0,2.0,3.0,6.0
Rent,4746.0,34993.451327,78106.412937,1200.0,10000.0,16000.0,33000.0,3500000.0
Size,4746.0,967.490729,634.202328,10.0,550.0,850.0,1200.0,8000.0
Bathroom,4746.0,1.965866,0.884532,1.0,1.0,2.0,2.0,10.0

In [18]:
data.describe(include='object')

,Posted On,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Point of Contact
count,4746,4746,4746,4746,4746,4746,4746,4746
unique,81,480,3,2235,6,3,3,3
top,2022-07-06,1 out of 2,Super Area,Bandra West,Mumbai,Semi-Furnished,Bachelors/Family,Contact Owner
freq,311,379,2446,37,972,2251,3444,3216

In [19]:
data.isna().sum()

Posted On            0
BHK                  0
Rent                 0
Size                 0
Floor                0
Area Type            0
Area Locality        0
City                 0
Furnishing Status    0
Tenant Preferred     0
Bathroom             0
Point of Contact     0
dtype: int64

In [20]:
data.City

0         Kolkata
1         Kolkata
2         Kolkata
3         Kolkata
4         Kolkata
          ...
4741    Hyderabad
4742    Hyderabad
4743    Hyderabad
4744    Hyderabad
4745    Hyderabad
Name: City, Length: 4746, dtype: object

In [21]:
data.City.nunique()

6

In [22]:
data.City.unique()

array(['Kolkata', 'Mumbai', 'Bangalore', 'Delhi', 'Chennai', 'Hyderabad'],
      dtype=object)

In [23]:
data.City.value_counts()

City
Mumbai       972
Chennai      891
Bangalore    886
Hyderabad    868
Delhi        605
Kolkata      524
Name: count, dtype: int64

In [24]:
data.nunique()

Posted On              81
BHK                     6
Rent                  243
Size                  615
Floor                 480
Area Type               3
Area Locality        2235
City                    6
Furnishing Status       3
Tenant Preferred        3
Bathroom                8
Point of Contact        3
dtype: int64

In [25]:
data['Area Locality'].value_counts()

Area Locality
Bandra West                                37
Gachibowli                                 29
Electronic City                            24
Velachery                                  22
Miyapur, NH 9                              22
                                           ..
Kengeri Upanagara                           1
Ittamadu, Banashankari, Outer Ring Road     1
Rmv Extension, Armane Nagar                 1
snv la                                      1
Manikonda, Hyderabad                        1
Name: count, Length: 2235, dtype: int64

In [26]:
numerical_data = data.select_dtypes(include=np.number).columns
numerical_data

Index(['BHK', 'Rent', 'Size', 'Bathroom'], dtype='object')

In [27]:
numerical_data = data.select_dtypes(include=np.number).columns
for i in numerical_data:
 print(data[i].value_counts())
 print()

BHK
2    2265
1    1167
3    1098
4     189
5      19
6       8
Name: count, dtype: int64

Rent
15000    275
10000    248
12000    238
20000    175
8000     162
        ...
4600       1
79500      1
76000      1
45002      1
5800       1
Name: count, Length: 243, dtype: int64

Size
1000    240
600     225
800     220
1200    193
500     192
       ...
2770      1
1252      1
904       1
721       1
855       1
Name: count, Length: 615, dtype: int64

Bathroom
2     2291
1     1474
3      749
4      156
5       60
6       12
7        3
10       1
Name: count, dtype: int64

In [28]:
str_data = data.select_dtypes(include='object').columns
str_data

Index(['Posted On', 'Floor', 'Area Type', 'Area Locality', 'City',
       'Furnishing Status', 'Tenant Preferred', 'Point of Contact'],
      dtype='object')

In [29]:
str_data = data.select_dtypes(include='object').columns
for i in str_data:
 print(data[i].value_counts())
 print()

Posted On
2022-07-06    311
2022-05-12    149
2022-06-04    135
2022-07-09    126
2022-05-23    125
             ...
2022-04-24      6
2022-04-25      6
2022-04-26      2
2022-04-13      1
2022-07-11      1
Name: count, Length: 81, dtype: int64

Floor
1 out of 2         379
Ground out of 2    350
2 out of 3         312
2 out of 4         308
1 out of 3         293
                  ...
11 out of 31         1
50 out of 75         1
18 out of 26         1
12 out of 27         1
23 out of 34         1
Name: count, Length: 480, dtype: int64

Area Type
Super Area     2446
Carpet Area    2298
Built Area        2
Name: count, dtype: int64

Area Locality
Bandra West                                37
Gachibowli                                 29
Electronic City                            24
Velachery                                  22
Miyapur, NH 9                              22
                                           ..
Kengeri Upanagara                           1
Ittamadu, Banashankari, Outer Ring Road     1
Rmv Extension, Armane Nagar                 1
snv la                                      1
Manikonda, Hyderabad                        1
Name: count, Length: 2235, dtype: int64

City
Mumbai       972
Chennai      891
Bangalore    886
Hyderabad    868
Delhi        605
Kolkata      524
Name: count, dtype: int64

Furnishing Status
Semi-Furnished    2251
Unfurnished       1815
Furnished          680
Name: count, dtype: int64

Tenant Preferred
Bachelors/Family    3444
Bachelors            830
Family               472
Name: count, dtype: int64

Point of Contact
Contact Owner      3216
Contact Agent      1529
Contact Builder       1
Name: count, dtype: int64

In [30]:
for columns in data:
 print(f'[--------------------- {columns} ---------------------]')
 attribute_info(data[columns])

[--------------------- Posted On ---------------------]

NameError: name 'attribute_info' is not defined

In [31]:
data['Rent'].describe()

count    4.746000e+03
mean     3.499345e+04
std      7.810641e+04
min      1.200000e+03
25%      1.000000e+04
50%      1.600000e+04
75%      3.300000e+04
max      3.500000e+06
Name: Rent, dtype: float64

In [32]:
data[data['Rent'] > 10000]

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
8,2022-06-07,2,26000,800,1 out of 2,Carpet Area,"Palm Avenue Kolkata, Ballygunge",Kolkata,Unfurnished,Bachelors,2,Contact Agent
10,2022-05-23,3,25000,1200,1 out of 4,Carpet Area,"Action Area 1, Rajarhat Newtown",Kolkata,Semi-Furnished,Bachelors/Family,2,Contact Agent
15,2022-06-01,3,40000,1286,1 out of 1,Carpet Area,New Town Action Area 1,Kolkata,Furnished,Bachelors/Family,2,Contact Owner
...,...,...,...,...,...,...,...,...,...,...,...,...
4741,2022-05-18,2,15000,1000,3 out of 5,Carpet Area,Bandam Kommu,Hyderabad,Semi-Furnished,Bachelors/Family,2,Contact Owner
4742,2022-05-15,3,29000,2000,1 out of 4,Super Area,"Manikonda, Hyderabad",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Owner
4743,2022-07-10,3,35000,1750,3 out of 5,Carpet Area,"Himayath Nagar, NH 7",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Agent
4744,2022-07-06,3,45000,1500,23 out of 34,Carpet Area,Gachibowli,Hyderabad,Semi-Furnished,Family,2,Contact Agent
4745,2022-05-04,2,15000,1000,4 out of 5,Carpet Area,Suchitra Circle,Hyderabad,Unfurnished,Bachelors,2,Contact Owner

In [33]:
data[data['Rent'] > 10000][['Rent','Area Type']]

       Rent    Area Type
1     20000   Super Area
2     17000   Super Area
8     26000  Carpet Area
10    25000  Carpet Area
15    40000  Carpet Area
...     ...          ...
4741  15000  Carpet Area
4742  29000   Super Area
4743  35000  Carpet Area
4744  45000  Carpet Area
4745  15000  Carpet Area

[3418 rows x 2 columns]

In [34]:
data[data['Rent'] > 10000].index

Index([   1,    2,    8,   10,   15,   18,   29,   31,   34,   35,
       ...
       4736, 4737, 4738, 4739, 4740, 4741, 4742, 4743, 4744, 4745],
      dtype='int64', length=3418)

In [35]:
data.columns

Index(['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact'],
      dtype='object')

In [36]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
for column in data.select_dtypes(include = object).columns.tolist():
    data[column] = encoder.fit_transform(data[column])

In [37]:
X = data[['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact']]
X

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,26,2,10000,1100,455,2,221,4,2,1,2,2
1,21,2,20000,800,14,2,1527,4,1,1,1,2
2,24,2,17000,1000,14,2,1760,4,1,1,1,2
3,73,2,10000,800,10,2,526,4,2,1,1,2
4,17,2,7500,850,10,1,1890,4,2,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
4741,26,2,15000,1000,271,1,219,3,1,1,2,2
4742,23,3,29000,2000,16,2,1214,3,1,1,3,2
4743,79,3,35000,1750,271,1,724,3,1,1,3,0
4744,75,3,45000,1500,226,1,590,3,1,2,2,0
4745,12,2,15000,1000,313,1,1915,3,2,0,2,2

In [38]:
y = data[['Rent']]
y

       Rent
0     10000
1     20000
2     17000
3     10000
4      7500
...     ...
4741  15000
4742  29000
4743  35000
4744  45000
4745  15000

[4746 rows x 1 columns]

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [40]:
X_test

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
1566,62,2,16000,1100,198,2,844,0,2,1,2,2
3159,20,2,12000,800,196,2,1213,1,0,1,2,2
538,18,2,28000,518,333,1,287,5,1,1,2,2
2630,47,3,8000,1500,1,1,392,2,2,1,3,2
4418,75,3,46000,2235,448,1,590,3,2,2,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4124,8,2,18000,1248,313,1,1037,3,1,1,2,2
3400,15,3,25000,1100,455,2,2017,1,2,1,2,2
1941,68,2,14000,950,198,2,559,0,2,1,2,2
3679,13,3,26000,1125,196,2,1575,1,1,1,2,2
2531,36,1,11000,500,200,2,1467,2,1,1,1,2

In [41]:
y_train

       Rent
1995  23500
1497  10500
2763  19000
1351  20000
1862  17000
...     ...
4426  25000
466   20000
3092  20000
3772  85000
860   25000

[3796 rows x 1 columns]

In [42]:
y_test

       Rent
1566  16000
3159  12000
538   28000
2630   8000
4418  46000
...     ...
4124  18000
3400  25000
1941  14000
3679  26000
2531  11000

[950 rows x 1 columns]

In [43]:
lr = LinearRegression()
lr.fit(X_test, y_test)

LinearRegression()

In [44]:
y_train_pred = lr.predict(X_train)
y_test_pred = lr.predict(X_test)

In [45]:
y_train

       Rent
1995  23500
1497  10500
2763  19000
1351  20000
1862  17000
...     ...
4426  25000
466   20000
3092  20000
3772  85000
860   25000

[3796 rows x 1 columns]

In [46]:
y_train_pred

array([[23500.],
       [10500.],
       [19000.],
       ...,
       [20000.],
       [85000.],
       [25000.]])

In [47]:
y_test

       Rent
1566  16000
3159  12000
538   28000
2630   8000
4418  46000
...     ...
4124  18000
3400  25000
1941  14000
3679  26000
2531  11000

[950 rows x 1 columns]

In [48]:
y_test_pred

array([[  16000.],
       [  12000.],
       [  28000.],
       [   8000.],
       [  46000.],
       [  17000.],
       [  57000.],
       [   9500.],
       [ 400000.],
       [  15000.],
       [  10000.],
       [  12000.],
       [  27000.],
       [  16000.],
       [  15000.],
       [   8500.],
       [ 140000.],
       [  12000.],
       [   6000.],
       [  60000.],
       [  38000.],
       [   7500.],
       [  23000.],
       [  14000.],
       [ 260000.],
       [   5000.],
       [   6000.],
       [  16500.],
       [   6500.],
       [  15000.],
       [   5000.],
       [  14000.],
       [   5000.],
       [  12000.],
       [  25000.],
       [  25000.],
       [   7500.],
       [   6000.],
       [  17000.],
       [   7000.],
       [  13000.],
       [ 320000.],
       [  14000.],
       [   6000.],
       [  60000.],
       [  14000.],
       [  32000.],
       [  65000.],
       [ 350000.],
       [  15000.],
       [  11000.],
       [  35000.],
       [  18000.],
       [  12000.],
       [  65000.],
       [ 130000.],
       [  35000.],
       [  40000.],
       [   9000.],
       [   9000.],
       [  18000.],
       [   5000.],
       [ 130000.],
       [  12000.],
       [  50000.],
       [  20000.],
       [  18000.],
       [  15500.],
       [  34999.],
       [  30000.],
       [  13000.],
       [  24000.],
       [ 100000.],
       [   7000.],
       [  25000.],
       [  35000.],
       [  12000.],
       [  61500.],
       [  35000.],
       [  28000.],
       [  14000.],
       [  10000.],
       [  33500.],
       [  10000.],
       [  12000.],
       [  45000.],
       [  36000.],
       [  18000.],
       [  25000.],
       [  27000.],
       [ 260000.],
       [  35000.],
       [  24000.],
       [ 120000.],
       [  13000.],
       [  12000.],
       [  11000.],
       [   7000.],
       [  20000.],
       [  24000.],
       [   6500.],
       [  11200.],
       [  37000.],
       [   7500.],
       [  14000.],
       [   4800.],
       [   8000.],
       [  14000.],
       [   9500.],
       [   6500.],
       [  11000.],
       [ 100000.],
       [ 210000.],
       [  25000.],
       [  31000.],
       [ 270000.],
       [  13000.],
       [   9500.],
       [   6166.],
       [  13000.],
       [  10000.],
       [  17000.],
       [ 200000.],
       [   9500.],
       [  14000.],
       [   7500.],
       [  13000.],
       [  95000.],
       [  12000.],
       [ 130000.],
       [  28000.],
       [ 140000.],
       [  26000.],
       [  48000.],
       [  24000.],
       [  22000.],
       [  12500.],
       [  15000.],
       [  30000.],
       [   7500.],
       [   8000.],
       [  10000.],
       [  10000.],
       [  35000.],
       [   6000.],
       [   5300.],
       [  20000.],
       [  10000.],
       [   7500.],
       [  20000.],
       [  18000.],
       [  80000.],
       [  58000.],
       [  23000.],
       [  23000.],
       [  12000.],
       [  50000.],
       [  15723.],
       [  13000.],
       [  22000.],
       [  11000.],
       [  85000.],
       [   8000.],
       [  20000.],
       [  25000.],
       [   5500.],
       [  15000.],
       [  14000.],
       [  11000.],
       [ 200000.],
       [  10000.],
       [   7000.],
       [  33000.],
       [  12000.],
       [  22000.],
       [  28000.],
       [   7500.],
       [  12000.],
       [  30000.],
       [  10000.],
       [   8500.],
       [   9000.],
       [  10500.],
       [  18000.],
       [  75000.],
       [   4000.],
       [  20000.],
       [  15000.],
       [  45000.],
       [   8000.],
       [  24000.],
       [  12000.],
       [  13000.],
       [  21000.],
       [  75000.],
       [  16000.],
       [   1800.],
       [   8000.],
       [  29000.],
       [  10000.],
       [  65000.],
       [  30000.],
       [   5500.],
       [  45000.],
       [  80000.],
       [  10000.],
       [   4000.],
       [   6500.],
       [   8500.],
       [   8000.],
       [  27000.],
       [  10000.],
       [  16000.],
       [  55000.],
       [   9500.],
       [  19000.],
       [   6000.],
       [   7000.],
       [  28000.],
       [ 160000.],
       [  12000.],
       [  42000.],
       [  17000.],
       [  33000.],
       [  10000.],
       [  18000.],
       [   6500.],
       [  12500.],
       [  18000.],
       [  14000.],
       [  23000.],
       [  12000.],
       [ 140000.],
       [  15000.],
       [  12000.],
       [   9000.],
       [  15000.],
       [  13500.],
       [   7000.],
       [  25000.],
       [  45000.],
       [  15000.],
       [  15500.],
       [   8000.],
       [  13000.],
       [  18000.],
       [  30000.],
       [  11000.],
       [  20000.],
       [  26000.],
       [   9000.],
       [  24000.],
       [  35000.],
       [  10000.],
       [  22000.],
       [  21000.],
       [  10000.],
       [   7000.],
       [  30000.],
       [   8000.],
       [  10000.],
       [  16000.],
       [  14000.],
       [  35000.],
       [  16000.],
       [  15000.],
       [ 250000.],
       [  25000.],
       [   7000.],
       [  80000.],
       [   6500.],
       [  65000.],
       [   8000.],
       [  16000.],
       [  11000.],
       [  65000.],
       [ 160000.],
       [   6000.],
       [   7000.],
       [  22000.],
       [  16500.],
       [  60000.],
       [  20000.],
       [  22000.],
       [ 280000.],
       [  25000.],
       [  53000.],
       [  35000.],
       [  13000.],
       [  65000.],
       [   9000.],
       [  10000.],
       [   8500.],
       [   6500.],
       [ 380000.],
       [  15000.],
       [  40000.],
       [   9000.],
       [  45000.],
       [  75000.],
       [  20000.],
       [  35000.],
       [  23000.],
       [  30000.],
       [  12500.],
       [  55000.],
       [  50000.],
       [   9000.],
       [  20000.],
       [   6000.],
       [   9000.],
       [  15000.],
       [  45000.],
       [  32500.],
       [  32000.],
       [  55000.],
       [   3000.],
       [ 100000.],
       [   7500.],
       [  14000.],
       [  85000.],
       [  12000.],
       [   9000.],
       [  25000.],
       [  25000.],
       [  15000.],
       [   6000.],
       [  17000.],
       [  15000.],
       [ 120000.],
       [  85000.],
       [  30000.],
       [   5000.],
       [   5250.],
       [   6000.],
       [   7000.],
       [ 100000.],
       [  40000.],
       [  95000.],
       [  13000.],
       [  13000.],
       [  42000.],
       [   7000.],
       [   7500.],
       [  15000.],
       [  22000.],
       [  15000.],
       [  12000.],
       [1200000.],
       [  13000.],
       [  45000.],
       [  75000.],
       [  12000.],
       [  13500.],
       [  33003.],
       [  14000.],
       [  12500.],
       [   6000.],
       [  15000.],
       [ 280000.],
       [  13000.],
       [  13000.],
       [  12000.],
       [  12000.],
       [  22000.],
       [  70000.],
       [   7000.],
       [  22000.],
       [   3500.],
       [   6800.],
       [  15500.],
       [  44000.],
       [   5000.],
       [  70000.],
       [  60000.],
       [   8000.],
       [  74999.],
       [  12000.],
       [  30000.],
       [  22000.],
       [ 330000.],
       [  10000.],
       [   6000.],
       [  15000.],
       [  55000.],
       [   8000.],
       [  30000.],
       [ 130000.],
       [  35000.],
       [  10000.],
       [   8500.],
       [   6000.],
       [  15000.],
       [   8000.],
       [  40000.],
       [  40000.],
       [   7500.],
       [   7000.],
       [ 150000.],
       [  50000.],
       [   8000.],
       [  11500.],
       [  26000.],
       [  35000.],
       [  29000.],
       [  22000.],
       [   5500.],
       [   8000.],
       [   9000.],
       [  25000.],
       [  30000.],
       [  45000.],
       [  22000.],
       [  95000.],
       [  22000.],
       [  13000.],
       [  52000.],
       [  11500.],
       [  11000.],
       [  13000.],
       [  13000.],
       [  52000.],
       [  14000.],
       [  20000.],
       [  21000.],
       [  25000.],
       [  20000.],
       [  37000.],
       [  10000.],
       [  30000.],
       [   6000.],
       [  70000.],
       [  21000.],
       [  15000.],
       [ 200000.],
       [  13500.],
       [  46000.],
       [  21000.],
       [ 250000.],
       [  14000.],
       [  18500.],
       [   7500.],
       [  40000.],
       [  20000.],
       [  15000.],
       [ 310000.],
       [  36000.],
       [  15000.],
       [  35000.],
       [  19000.],
       [  30000.],
       [   6000.],
       [  45000.],
       [  25000.],
       [  25000.],
       [   8000.],
       [  10000.],
       [   3500.],
       [  17000.],
       [   8000.],
       [  50000.],
       [  11000.],
       [  13000.],
       [  10000.],
       [  80000.],
       [  20500.],
       [  50000.],
       [  68000.],
       [  16000.],
       [  28000.],
       [   7000.],
       [ 190000.],
       [  15000.],
       [   7500.],
       [   6300.],
       [   9000.],
       [  14000.],
       [ 100000.],
       [  18000.],
       [ 230000.],
       [  10000.],
       [  10000.],
       [  49000.],
       [  18500.],
       [  12000.],
       [  12000.],
       [  10000.],
       [  40000.],
       [  14000.],
       [  65000.],
       [  13000.],
       [  80000.],
       [  20000.],
       [  19500.],
       [   8000.],
       [  20000.],
       [  20000.],
       [   8500.],
       [  10000.],
       [  10000.],
       [   5500.],
       [  16000.],
       [  25000.],
       [  14000.],
       [  12000.],
       [  62000.],
       [  30000.],
       [  58000.],
       [  25000.],
       [  46000.],
       [  12000.],
       [   6800.],
       [   6500.],
       [  16000.],
       [  10000.],
       [  15000.],
       [  45000.],
       [  18000.],
       [  45000.],
       [  30000.],
       [   8000.],
       [  12000.],
       [   5500.],
       [  14000.],
       [   5000.],
       [   8000.],
       [  10000.],
       [  15000.],
       [  12000.],
       [  32000.],
       [  13000.],
       [  20000.],
       [  70000.],
       [  80000.],
       [  15000.],
       [  40000.],
       [  10500.],
       [  13000.],
       [  90000.],
       [   5000.],
       [  13500.],
       [  10000.],
       [  30000.],
       [  20000.],
       [  40000.],
       [  13000.],
       [  38000.],
       [  15000.],
       [  11000.],
       [   8000.],
       [   7000.],
       [  12000.],
       [  21000.],
       [   9900.],
       [  17000.],
       [  28000.],
       [  10500.],
       [  23000.],
       [  12000.],
       [ 300000.],
       [  14000.],
       [  60000.],
       [  69999.],
       [  54500.],
       [   7500.],
       [  35000.],
       [  10000.],
       [  35000.],
       [   5500.],
       [  22999.],
       [  10000.],
       [   8000.],
       [  18000.],
       [  18000.],
       [  35000.],
       [  10000.],
       [  11000.],
       [   9500.],
       [  32000.],
       [  13000.],
       [   7000.],
       [  16000.],
       [  10000.],
       [  10000.],
       [  15000.],
       [  65000.],
       [  20000.],
       [  14000.],
       [  30000.],
       [ 180000.],
       [  25000.],
       [   7500.],
       [  13000.],
       [  50000.],
       [   6000.],
       [ 270000.],
       [  15000.],
       [  20000.],
       [   8000.],
       [  23000.],
       [  11000.],
       [  11000.],
       [ 280000.],
       [  23000.],
       [   8500.],
       [   9000.],
       [ 130000.],
       [ 100000.],
       [  25000.],
       [   6000.],
       [  40000.],
       [   7000.],
       [ 200000.],
       [  27000.],
       [   6000.],
       [  24000.],
       [  12500.],
       [  17000.],
       [  32000.],
       [   5000.],
       [  52000.],
       [  10000.],
       [  20000.],
       [   9500.],
       [  12500.],
       [  12000.],
       [  10000.],
       [   7000.],
       [  75000.],
       [  28000.],
       [   4700.],
       [   8000.],
       [   8000.],
       [ 180000.],
       [ 100000.],
       [   9000.],
       [  11000.],
       [  30000.],
       [   6000.],
       [   7500.],
       [   8000.],
       [  16000.],
       [  15000.],
       [   8000.],
       [  25000.],
       [  12000.],
       [  12000.],
       [   6200.],
       [  14000.],
       [  10000.],
       [  10000.],
       [  10000.],
       [  13500.],
       [  16000.],
       [  15000.],
       [  25000.],
       [  11000.],
       [  35000.],
       [  30000.],
       [  28000.],
       [  40000.],
       [  10000.],
       [  28000.],
       [   5000.],
       [   6000.],
       [   5200.],
       [  19397.],
       [  30000.],
       [  15000.],
       [  10000.],
       [  70000.],
       [  20000.],
       [  15000.],
       [   6500.],
       [  32000.],
       [   7000.],
       [  12000.],
       [  30000.],
       [  15000.],
       [  24500.],
       [  30000.],
       [  35000.],
       [  12000.],
       [  20000.],
       [  22000.],
       [  22000.],
       [  14000.],
       [   7500.],
       [  20000.],
       [  60000.],
       [  30000.],
       [ 150000.],
       [   8000.],
       [  11500.],
       [  21000.],
       [   7000.],
       [ 180000.],
       [ 200000.],
       [  20000.],
       [  10500.],
       [   7000.],
       [  32000.],
       [   8000.],
       [  34000.],
       [  50000.],
       [  32000.],
       [   9500.],
       [  25000.],
       [   6500.],
       [   5000.],
       [   6000.],
       [   8500.],
       [   7000.],
       [  18999.],
       [   8000.],
       [  20000.],
       [ 150000.],
       [  50000.],
       [  14000.],
       [  18000.],
       [  17000.],
       [   8000.],
       [ 140000.],
       [  10000.],
       [  22000.],
       [  20000.],
       [  28000.],
       [  12000.],
       [  45000.],
       [  15000.],
       [   7000.],
       [  12000.],
       [  15000.],
       [   3500.],
       [  11000.],
       [   9000.],
       [  68000.],
       [  15000.],
       [  18000.],
       [   8000.],
       [ 150000.],
       [   8000.],
       [  13000.],
       [  12000.],
       [ 120000.],
       [  35000.],
       [   6500.],
       [ 170000.],
       [  45000.],
       [ 190000.],
       [  13500.],
       [  38000.],
       [  45000.],
       [  20000.],
       [  39000.],
       [  17000.],
       [   8000.],
       [   4300.],
       [   8000.],
       [  18000.],
       [  10000.],
       [   4500.],
       [   8000.],
       [  12000.],
       [   5000.],
       [  15000.],
       [  65000.],
       [   8500.],
       [  13000.],
       [  14500.],
       [  60000.],
       [  22000.],
       [  16000.],
       [  19000.],
       [  29000.],
       [  24000.],
       [   5000.],
       [  75000.],
       [   8500.],
       [  90000.],
       [  20000.],
       [ 180000.],
       [  10000.],
       [  20000.],
       [   9000.],
       [  20000.],
       [  13000.],
       [  13000.],
       [  12000.],
       [   9000.],
       [  24000.],
       [  30000.],
       [  75000.],
       [  15000.],
       [  35000.],
       [   7000.],
       [  13000.],
       [  35000.],
       [  12000.],
       [  30000.],
       [  75000.],
       [  20000.],
       [  50000.],
       [ 130000.],
       [  18000.],
       [  12000.],
       [   9000.],
       [  12000.],
       [   5000.],
       [  10000.],
       [  54000.],
       [  35000.],
       [  20000.],
       [   7500.],
       [   8000.],
       [  25000.],
       [   6500.],
       [  15000.],
       [  22000.],
       [  23000.],
       [  14000.],
       [  27999.],
       [ 400000.],
       [  55000.],
       [  13000.],
       [  14000.],
       [  13000.],
       [  12000.],
       [   6700.],
       [  60000.],
       [  45000.],
       [  25000.],
       [  32000.],
       [  26000.],
       [  44300.],
       [  30000.],
       [  43000.],
       [  55000.],
       [  29000.],
       [  60000.],
       [  14000.],
       [ 150000.],
       [ 130000.],
       [ 150000.],
       [  18000.],
       [  12000.],
       [  10000.],
       [  14000.],
       [  30000.],
       [  15000.],
       [  20000.],
       [  23000.],
       [   7000.],
       [   9000.],
       [   9500.],
       [  39000.],
       [  32000.],
       [  18000.],
       [   7000.],
       [   9500.],
       [  18000.],
       [   6500.],
       [  12000.],
       [  70000.],
       [  12000.],
       [   8000.],
       [  32000.],
       [  15000.],
       [  12000.],
       [  14000.],
       [  10000.],
       [   8000.],
       [   6000.],
       [  39000.],
       [   8000.],
       [  17000.],
       [   6500.],
       [  17681.],
       [  52000.],
       [  12000.],
       [   7000.],
       [  10500.],
       [ 110000.],
       [ 180000.],
       [  15000.],
       [  12500.],
       [  25000.],
       [  40000.],
       [  20000.],
       [  18000.],
       [   6500.],
       [  40000.],
       [   9000.],
       [   8000.],
       [   4750.],
       [  15000.],
       [ 140000.],
       [  22000.],
       [  15000.],
       [   9000.],
       [  15000.],
       [  16000.],
       [  18000.],
       [   8000.],
       [  12000.],
       [  65000.],
       [  15000.],
       [  12000.],
       [  65000.],
       [   8500.],
       [  37000.],
       [  10000.],
       [ 230000.],
       [  18000.],
       [  24000.],
       [  17000.],
       [ 100000.],
       [  15000.],
       [   5000.],
       [  25000.],
       [   5000.],
       [ 100000.],
       [  13000.],
       [  95000.],
       [  15000.],
       [  10000.],
       [  12000.],
       [  11000.],
       [  11000.],
       [  18000.],
       [  35000.],
       [  15000.],
       [  14000.],
       [  11000.],
       [  15000.],
       [  15000.],
       [  10000.],
       [  80000.],
       [  12000.],
       [  20000.],
       [  25000.],
       [  11500.],
       [  13000.],
       [   6000.],
       [  12500.],
       [  18000.],
       [  25000.],
       [  14000.],
       [  26000.],
       [  11000.]])

In [49]:
X.columns

Index(['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact'],
      dtype='object')

In [50]:
lr.coef_

array([[ 4.20456801e-14, -9.84989867e-13,  1.00000000e+00,
         1.65145675e-15, -1.71005788e-15,  5.29516487e-13,
         6.55942314e-16, -3.16801584e-13,  3.47852861e-13,
         1.01483225e-13, -2.92194393e-13,  1.17690281e-14]])

In [75]:
coeff_df = pd.DataFrame(lr.coef_.reshape(12,1), columns=['Coeffiecient'], index=X.columns)
coeff_df

                   Coeffiecient
Posted On          4.204568e-14
BHK               -9.849899e-13
Rent               1.000000e+00
Size               1.651457e-15
Floor             -1.710058e-15
Area Type          5.295165e-13
Area Locality      6.559423e-16
City              -3.168016e-13
Furnishing Status  3.478529e-13
Tenant Preferred   1.014832e-13
Bathroom          -2.921944e-13
Point of Contact   1.176903e-14

In [76]:
mean_squared_error(y_train, y_train_pred)

3.010063248943911e-21

In [77]:
np.sqrt(mean_squared_error(y_train, y_train_pred))

5.486404331567179e-11

In [78]:
mean_absolute_error(y_train, y_train_pred)

1.845518328955184e-11

In [79]:
r2_score(y_train, y_train_pred)

1.0

In [80]:
print(f'Training Accuracy: {round(r2_score(y_train, y_train_pred),2)*100}%')

Training Accuracy: 100.0%

In [81]:
def training_evaluation(actual, predicted):

 mse = mean_squared_error(actual, predicted)
 rmse = np.sqrt(mean_squared_error(actual, predicted))
 mae = mean_absolute_error(actual, predicted)
 r2 = r2_score(actual, predicted)

 print(f'MSE: {mse}')
 print(f'RMSE: {rmse}')
 print(f'MAE: {mae}')
 print(f'Training R2 Accuracy: {round(r2_score(actual, predicted), 2)*100} %')

training_evaluation(y_train, y_train_pred)

MSE: 3.010063248943911e-21
RMSE: 5.486404331567179e-11
MAE: 1.845518328955184e-11
Training R2 Accuracy: 100.0 %

In [82]:
print(f'Test Accuracy: {round(r2_score(y_test, y_test_pred), 2)*100} %')

Test Accuracy: 100.0 %

In [83]:
def test_evaluation(actual, predicted):

 mse = mean_squared_error(actual, predicted)
 rmse = np.sqrt(mean_squared_error(actual, predicted))
 mae = mean_absolute_error(actual, predicted)
 r2 = r2_score(actual, predicted)

 print(f'MSE: {mse}')
 print(f'RMSE: {rmse}')
 print(f'MAE: {mae}')
 print(f'Testing R2 Accuracy: {round(r2_score(actual, predicted), 2)*100} %')

In [84]:
test_evaluation(y_test, y_test_pred)

MSE: 1.708446864816052e-21
RMSE: 4.1333362612011765e-11
MAE: 1.8078361264135886e-11
Testing R2 Accuracy: 100.0 %

In [85]:
from sklearn.preprocessing import PolynomialFeatures

In [86]:
poly = PolynomialFeatures(degree=2)
poly

PolynomialFeatures()

In [87]:
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

In [88]:
X_test

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
1566,62,2,16000,1100,198,2,844,0,2,1,2,2
3159,20,2,12000,800,196,2,1213,1,0,1,2,2
538,18,2,28000,518,333,1,287,5,1,1,2,2
2630,47,3,8000,1500,1,1,392,2,2,1,3,2
4418,75,3,46000,2235,448,1,590,3,2,2,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4124,8,2,18000,1248,313,1,1037,3,1,1,2,2
3400,15,3,25000,1100,455,2,2017,1,2,1,2,2
1941,68,2,14000,950,198,2,559,0,2,1,2,2
3679,13,3,26000,1125,196,2,1575,1,1,1,2,2
2531,36,1,11000,500,200,2,1467,2,1,1,1,2

In [89]:
X_train_poly

array([[ 1., 18.,  2., ...,  4.,  4.,  4.],
       [ 1., 62.,  2., ...,  4.,  4.,  4.],
       [ 1., 52.,  1., ...,  1.,  2.,  4.],
       ...,
       [ 1., 75.,  2., ...,  4.,  0.,  0.],
       [ 1., 25.,  3., ...,  9.,  0.,  0.],
       [ 1., 59.,  1., ...,  4.,  0.,  0.]])

In [90]:
y_train

       Rent
1995  23500
1497  10500
2763  19000
1351  20000
1862  17000
...     ...
4426  25000
466   20000
3092  20000
3772  85000
860   25000

[3796 rows x 1 columns]

In [91]:
poly_linear = LinearRegression()
poly_linear.fit(X_train_poly, y_train)

LinearRegression()

In [92]:
y_train_pred_poly = poly_linear.predict(X_train_poly)
y_test_pred_poly = poly_linear.predict(X_test_poly)

In [93]:
y_train

       Rent
1995  23500
1497  10500
2763  19000
1351  20000
1862  17000
...     ...
4426  25000
466   20000
3092  20000
3772  85000
860   25000

[3796 rows x 1 columns]

In [94]:
y_train_pred_poly

array([[23500.00001209],
       [10500.00000747],
       [19000.00000084],
       ...,
       [19999.99999654],
       [84999.99996737],
       [24999.99998839]])

In [95]:
def training_evaluation(actual, predicted):

 mse = mean_squared_error(actual, predicted)
 rmse = np.sqrt(mean_squared_error(actual, predicted))
 mae = mean_absolute_error(actual, predicted)
 r2 = r2_score(actual, predicted)

 print(f'MSE: {mse}')
 print(f'RMSE: {rmse}')
 print(f'MAE: {mae}')
 print(f'Training R2 Accuracy: {round(r2_score(actual, predicted), 2)*100} %')

In [96]:
training_evaluation(y_train, y_train_pred_poly)

MSE: 5.602683289475448e-10
RMSE: 2.366998793720742e-05
MAE: 1.3890842740046766e-05
Training R2 Accuracy: 100.0 %

In [97]:
def test_evaluation(actual, predicted):

 mse = mean_squared_error(actual, predicted)
 rmse = np.sqrt(mean_squared_error(actual, predicted))
 mae = mean_absolute_error(actual, predicted)
 r2 = r2_score(actual, predicted)

 print(f'MSE: {mse}')
 print(f'RMSE: {rmse}')
 print(f'MAE: {mae}')
 print(f'Testing R2 Accuracy: {round(r2_score(actual, predicted), 2)*100} %')

In [98]:
test_evaluation(y_test, y_test_pred_poly)

MSE: 8.855869219658261e-10
RMSE: 2.9758812509336225e-05
MAE: 1.4730004337539676e-05
Testing R2 Accuracy: 100.0 %