In [1]:
import pandas as pd 
import numpy as np 

from sklearn.model_selection import test_train_split
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error , mean_absolute_error , r2_s

In [4]:
data = pd.read_csv('House_Rent_Dataset.csv')

In [6]:
data.head(10)

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner
5,2022-04-29,2,7000,600,Ground out of 1,Super Area,Thakurpukur,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
6,2022-06-21,2,10000,700,Ground out of 4,Super Area,Malancha,Kolkata,Unfurnished,Bachelors,2,Contact Agent
7,2022-06-21,1,5000,250,1 out of 2,Super Area,Malancha,Kolkata,Unfurnished,Bachelors,1,Contact Agent
8,2022-06-07,2,26000,800,1 out of 2,Carpet Area,"Palm Avenue Kolkata, Ballygunge",Kolkata,Unfurnished,Bachelors,2,Contact Agent
9,2022-06-20,2,10000,1000,1 out of 3,Carpet Area,Natunhat,Kolkata,Semi-Furnished,Bachelors/Family,2,Contact Owner

In [7]:
data.tail(10)

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
4736,2022-06-28,3,15000,1500,Lower Basement out of 2,Super Area,Almasguda,Hyderabad,Semi-Furnished,Family,3,Contact Owner
4737,2022-07-07,3,15000,1500,Lower Basement out of 2,Super Area,Almasguda,Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Owner
4738,2022-07-06,2,17000,855,4 out of 5,Carpet Area,"Godavari Homes, Quthbullapur",Hyderabad,Unfurnished,Bachelors,2,Contact Agent
4739,2022-07-06,2,25000,1040,2 out of 4,Carpet Area,Gachibowli,Hyderabad,Unfurnished,Bachelors,2,Contact Owner
4740,2022-06-02,2,12000,1350,2 out of 2,Super Area,Old Alwal,Hyderabad,Unfurnished,Bachelors/Family,2,Contact Owner
4741,2022-05-18,2,15000,1000,3 out of 5,Carpet Area,Bandam Kommu,Hyderabad,Semi-Furnished,Bachelors/Family,2,Contact Owner
4742,2022-05-15,3,29000,2000,1 out of 4,Super Area,"Manikonda, Hyderabad",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Owner
4743,2022-07-10,3,35000,1750,3 out of 5,Carpet Area,"Himayath Nagar, NH 7",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Agent
4744,2022-07-06,3,45000,1500,23 out of 34,Carpet Area,Gachibowli,Hyderabad,Semi-Furnished,Family,2,Contact Agent
4745,2022-05-04,2,15000,1000,4 out of 5,Carpet Area,Suchitra Circle,Hyderabad,Unfurnished,Bachelors,2,Contact Owner

In [9]:
data.shape

(4746, 12)

In [10]:
data.columns

Index(['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact'],
      dtype='object')

In [1441]:
data.ndim

2

In [1442]:
data.info

<bound method DataFrame.info of       Posted On  BHK   Rent  Size  Floor  Area Type  Area Locality  City  \
0            19    2  10000  1100    396          2           1347     4
1            14    2  20000   800     46          2            588     4
2            17    2  17000  1000     46          2            847     4
3            71    2  10000   800      2          2           1710     4
4             9    2   7500   850      2          1            991     4
...         ...  ...    ...   ...    ...        ...            ...   ...
4741         19    2  15000  1000    192          1           1324     3
4742         16    3  29000  2000     68          2            241     3
4743         77    3  35000  1750    192          1           1930     3
4744         73    3  45000  1500    142          1           1781     3
4745          4    2  15000  1000    239          1           1019     3

      Furnishing Status  Tenant Preferred  Bathroom  Point of Contact
0                     2                 1         2                 2
1                     1                 1         1                 2
2                     1                 1         1                 2
3                     2                 1         1                 2
4                     2                 0         1                 2
...                 ...               ...       ...               ...
4741                  1                 1         2                 2
4742                  1                 1         3                 2
4743                  1                 1         3                 0
4744                  1                 2         2                 0
4745                  2                 0         2                 2

[4746 rows x 12 columns]>

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   int64
 11  Point of Contact   4746 non-null   object
dtypes: int64(4), object(8)
memory usage: 445.1+ KB

In [19]:
data.describe()

               BHK          Rent         Size     Bathroom
count  4746.000000  4.746000e+03  4746.000000  4746.000000
mean      2.083860  3.499345e+04   967.490729     1.965866
std       0.832256  7.810641e+04   634.202328     0.884532
min       1.000000  1.200000e+03    10.000000     1.000000
25%       2.000000  1.000000e+04   550.000000     1.000000
50%       2.000000  1.600000e+04   850.000000     2.000000
75%       3.000000  3.300000e+04  1200.000000     2.000000
max       6.000000  3.500000e+06  8000.000000    10.000000

In [22]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
BHK,4746.0,2.083860,0.832256,1.0,2.0,2.0,3.0,6.0
Rent,4746.0,34993.451327,78106.412937,1200.0,10000.0,16000.0,33000.0,3500000.0
Size,4746.0,967.490729,634.202328,10.0,550.0,850.0,1200.0,8000.0
Bathroom,4746.0,1.965866,0.884532,1.0,1.0,2.0,2.0,10.0

In [25]:
data.describe(include='object')

,Posted On,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Point of Contact
count,4746,4746,4746,4746,4746,4746,4746,4746
unique,81,480,3,2235,6,3,3,3
top,2022-07-06,1 out of 2,Super Area,Bandra West,Mumbai,Semi-Furnished,Bachelors/Family,Contact Owner
freq,311,379,2446,37,972,2251,3444,3216

In [26]:
data.isna().sum()

Posted On            0
BHK                  0
Rent                 0
Size                 0
Floor                0
Area Type            0
Area Locality        0
City                 0
Furnishing Status    0
Tenant Preferred     0
Bathroom             0
Point of Contact     0
dtype: int64

In [38]:
data.City

0         Kolkata
1         Kolkata
2         Kolkata
3         Kolkata
4         Kolkata
          ...
4741    Hyderabad
4742    Hyderabad
4743    Hyderabad
4744    Hyderabad
4745    Hyderabad
Name: City, Length: 4746, dtype: object

In [39]:
data.City.nunique()

6

In [40]:
data.City.unique()

array(['Kolkata', 'Mumbai', 'Bangalore', 'Delhi', 'Chennai', 'Hyderabad'],
      dtype=object)

In [41]:
data.City.value_counts()

City
Mumbai       972
Chennai      891
Bangalore    886
Hyderabad    868
Delhi        605
Kolkata      524
Name: count, dtype: int64

In [42]:
data.nunique()

Posted On              81
BHK                     6
Rent                  243
Size                  615
Floor                 480
Area Type               3
Area Locality        2235
City                    6
Furnishing Status       3
Tenant Preferred        3
Bathroom                8
Point of Contact        3
dtype: int64

In [47]:
data['Area Locality'].value_counts()

Area Locality
Bandra West                                37
Gachibowli                                 29
Electronic City                            24
Velachery                                  22
Miyapur, NH 9                              22
                                           ..
Kengeri Upanagara                           1
Ittamadu, Banashankari, Outer Ring Road     1
Rmv Extension, Armane Nagar                 1
snv la                                      1
Manikonda, Hyderabad                        1
Name: count, Length: 2235, dtype: int64

In [59]:
numerical_data = data.select_dtypes(include=np.number).columns
numerical_data

Index(['BHK', 'Rent', 'Size', 'Bathroom'], dtype='object')

In [60]:
numerical_data = data.select_dtypes(include=np.number).columns
for i in numerical_data:
 print(data[i].value_counts())
 print()

BHK
2    2265
1    1167
3    1098
4     189
5      19
6       8
Name: count, dtype: int64

Rent
15000    275
10000    248
12000    238
20000    175
8000     162
        ...
4600       1
79500      1
76000      1
45002      1
5800       1
Name: count, Length: 243, dtype: int64

Size
1000    240
600     225
800     220
1200    193
500     192
       ...
2770      1
1252      1
904       1
721       1
855       1
Name: count, Length: 615, dtype: int64

Bathroom
2     2291
1     1474
3      749
4      156
5       60
6       12
7        3
10       1
Name: count, dtype: int64

In [61]:
str_data = data.select_dtypes(include='object').columns
str_data

Index(['Posted On', 'Floor', 'Area Type', 'Area Locality', 'City',
       'Furnishing Status', 'Tenant Preferred', 'Point of Contact'],
      dtype='object')

In [66]:
str_data = data.select_dtypes(include='object').columns
for i in str_data:
 print(data[i].value_counts())
 print()

Posted On
2022-07-06    311
2022-05-12    149
2022-06-04    135
2022-07-09    126
2022-05-23    125
             ...
2022-04-24      6
2022-04-25      6
2022-04-26      2
2022-04-13      1
2022-07-11      1
Name: count, Length: 81, dtype: int64

Floor
1 out of 2         379
Ground out of 2    350
2 out of 3         312
2 out of 4         308
1 out of 3         293
                  ...
11 out of 31         1
50 out of 75         1
18 out of 26         1
12 out of 27         1
23 out of 34         1
Name: count, Length: 480, dtype: int64

Area Type
Super Area     2446
Carpet Area    2298
Built Area        2
Name: count, dtype: int64

Area Locality
Bandra West                                37
Gachibowli                                 29
Electronic City                            24
Velachery                                  22
Miyapur, NH 9                              22
                                           ..
Kengeri Upanagara                           1
Ittamadu, Banashankari, Outer Ring Road     1
Rmv Extension, Armane Nagar                 1
snv la                                      1
Manikonda, Hyderabad                        1
Name: count, Length: 2235, dtype: int64

City
Mumbai       972
Chennai      891
Bangalore    886
Hyderabad    868
Delhi        605
Kolkata      524
Name: count, dtype: int64

Furnishing Status
Semi-Furnished    2251
Unfurnished       1815
Furnished          680
Name: count, dtype: int64

Tenant Preferred
Bachelors/Family    3444
Bachelors            830
Family               472
Name: count, dtype: int64

Point of Contact
Contact Owner      3216
Contact Agent      1529
Contact Builder       1
Name: count, dtype: int64

In [90]:
for columns in data:
 print(f'[--------------------- {columns} ---------------------]')
 attribute_info(data[columns])

[--------------------- Posted On ---------------------]
Description of feature:

 count           4746
unique            81
top       2022-07-06
freq             311
Name: Posted On, dtype: object

Value Counts:

 Posted On
2022-07-06    311
2022-05-12    149
2022-06-04    135
2022-07-09    126
2022-05-23    125
             ...
2022-04-24      6
2022-04-25      6
2022-04-26      2
2022-04-13      1
2022-07-11      1
Name: count, Length: 81, dtype: int64

Unique Values:

 ['2022-05-18' '2022-05-13' '2022-05-16' '2022-07-04' '2022-05-09'
 '2022-04-29' '2022-06-21' '2022-06-07' '2022-06-20' '2022-05-23'
 '2022-05-14' '2022-05-05' '2022-06-01' '2022-05-17' '2022-06-09'
 '2022-07-02' '2022-06-14' '2022-06-15' '2022-05-28' '2022-05-22'
 '2022-06-18' '2022-06-25' '2022-06-22' '2022-05-21' '2022-06-26'
 '2022-06-16' '2022-06-29' '2022-05-10' '2022-05-12' '2022-06-03'
 '2022-05-31' '2022-06-10' '2022-06-24' '2022-04-30' '2022-05-27'
 '2022-06-06' '2022-05-20' '2022-05-26' '2022-07-03' '2022-04-23'
 '2022-06-19' '2022-07-06' '2022-06-04' '2022-05-30' '2022-06-08'
 '2022-05-03' '2022-05-07' '2022-06-27' '2022-05-15' '2022-04-28'
 '2022-06-28' '2022-06-23' '2022-06-13' '2022-05-04' '2022-04-25'
 '2022-05-06' '2022-06-30' '2022-07-01' '2022-06-17' '2022-06-11'
 '2022-05-11' '2022-06-12' '2022-06-05' '2022-05-25' '2022-05-24'
 '2022-05-19' '2022-04-24' '2022-04-27' '2022-05-08' '2022-04-26'
 '2022-06-02' '2022-05-29' '2022-07-07' '2022-07-08' '2022-07-09'
 '2022-07-05' '2022-05-01' '2022-04-13' '2022-05-02' '2022-07-10'
 '2022-07-11']

Missing Values:

 0

Missing Values in %:

 0.0

[--------------------- BHK ---------------------]
Description of feature:

 count    4746.000000
mean        2.083860
std         0.832256
min         1.000000
25%         2.000000
50%         2.000000
75%         3.000000
max         6.000000
Name: BHK, dtype: float64

Value Counts:

 BHK
2    2265
1    1167
3    1098
4     189
5      19
6       8
Name: count, dtype: int64

Unique Values:

 [2 1 3 6 4 5]

Missing Values:

 0

Missing Values in %:

 0.0

[--------------------- Rent ---------------------]
Description of feature:

 count    4.746000e+03
mean     3.499345e+04
std      7.810641e+04
min      1.200000e+03
25%      1.000000e+04
50%      1.600000e+04
75%      3.300000e+04
max      3.500000e+06
Name: Rent, dtype: float64

Value Counts:

 Rent
15000    275
10000    248
12000    238
20000    175
8000     162
        ...
4600       1
79500      1
76000      1
45002      1
5800       1
Name: count, Length: 243, dtype: int64

Unique Values:

 [  10000   20000   17000    7500    7000    5000   26000   25000    6500
    5500    8500   40000    6000   11000    7900    9000    4000    8000
    5300   12500   15000   22000   21000    7200   12000    4600   30000
    3500   16000   14500    8200    6700   18000   35000  180000   14000
    3900    6300   13000    6800    4700    4500   17500    2200    9500
   16500   10500   50000    5200   24000    3000    3200    1500    3800
    6200    9900   36125   23000    5146   22500   34000    1800    3700
    3300   60000   65000   45000   70000   75000  160000  300000  130000
   33000   32000   49000   28000   33500   85000  270000  400000  150000
  100000   19411  190000   68000  110000   44000   43000   57000   27000
   55000   95000   80000   89000   38000  350000  170000  210000   47000
  120000   62000   42000   41000   84500  220000  310000   53000  250000
   13500   25500   45002   48000  140000  230000  600000   46000   55100
  320000   92500   29999  330000   36000   53500   61000  200000   19000
   18500   19500   90000   93000   69999 1000000   33003  450000  280000
   56000   83000   39000   15500   51000  260000   43500   77500   59000
   72000   52000   51500   98000   23500 1200000   84000  500000    9400
   94000   58000   54500   67000  380000   29500   37000   35500   90100
   77000  290000  240000   26500   54000   76000   79500   63000   28500
  360000   66000  650000  850000   34999   49500   46700   88000   78000
   74999   69000   29000   31000  700000  680000   61500   11400   11500
   32900    6900   27500    9750 3500000    8900   21500    9300   26969
   42500    4300    4800   17681   13900    7700    4750   17600    9250
   14900   20500    2000   17401   44300  530000   20200   31500   22999
   12100   24500    7600   11200   34500    5700   23999    5250   47500
   18999    4200   15723    6250   37500    6166    9800   19397   27999
   10677   32500   23382   19800    1200    5400   12333   21467    5800]

Missing Values:

 0

Missing Values in %:

 0.0

[--------------------- Size ---------------------]
Description of feature:

 count    4746.000000
mean      967.490729
std       634.202328
min        10.000000
25%       550.000000
50%       850.000000
75%      1200.000000
max      8000.000000
Name: Size, dtype: float64

Value Counts:

 Size
1000    240
600     225
800     220
1200    193
500     192
       ...
2770      1
1252      1
904       1
721       1
855       1
Name: count, Length: 615, dtype: int64

Unique Values:

 [1100  800 1000  850  600  700  250 1200  400  375  900 1286 2000  660
  650  300 1600  355  350  550  500  630  270 1500 1300 1068  150  450
  720  680  950 1800  480  435 1450  750  220   20  200  840  740  490
  751  280  120 1220  670  190  240 2200  685   44 1110  392  710 1400
  160 1250  839  230  620 1350  723  320 2160 1700  130  505 4000 1190
 1012  812  420 1750  830 1050  960  756  288  986 1330  322 3500  957
 1430 1320  475  780  570  460  530  558  175  425  721 1150 2210  675
 1880  640 1650  518  777 2308  890  888  275  424 2079  586  610  488
  722  470  410  540  932  560 3000  696 2500  715 1337  737  760  365
 2600 1783  565 1514 1080  825  360 1545  432  695 1095  790  661  330
  925 1105 1460  415  585 1755  385  628 1064  845 1915  807  380  428
 1550 1454  860  433 2700 1225 1224  305  690  635 1379  390  935  535
 3700 1208 3200  225  463 1900 1325  905  455  430  795  575  656  719
 3064 3400  980 2800  413 1850 1705 1355  340  471 1528 1030  985  806
  583  994  520 2750 2424  724 1076 2170  485  478  704  525  755  625
  370  805  742  745 1265  325  902 1233 2120 1937 5000  596 1950  510
 1260  770 3900  694 3250 1740  472  421  515  831  753 1197  880 1088
 2650  975  785 1016  444  508  623 1358 1255  955  870 1691  615  663
 1432  649  882  736 1710  555 1065  854  906 1130  495  407 1092  669
  725  999 1256  889  434 1121  937  379  920  440  582 1617  836 2046
  730  229  910 1648  820  771 1526  465 1073  310  967 1649 1560 4500
 1425 1375 1270  265  422  895 1663  377 2080  965 2100 1380  868  970
  774 1152  641  810  875  758 2880 1962  590 1120 2729 3354 1040 1403
 2608 1045 1021 1280 1680 1155 2900 3150  100 1603 1771  773  865 1840
 1159   50  990 1360 1757 1281 1221  416  976 1387 1020 1645 3276 1893
 1296 4800 1066 2150 2110 1025 1180  580  904 1252 2770  144 1005 1274
 1480 1115 1060 1278 4105 1055  894 2400 2430 1475 4341  846  110 5700
 1760 3100  775  445 2710 1768  532 1465  940 1789 1618 1374 1580 4550
 1333 1875 1660 1305 1188 2390 1788 1520 1464  180  140   75 1670   70
   60  170   48 1901  145   25  892   80   45 1125  713   54   63 1440
   55   68   65 2300   84   90  512  446  125  499   30  497   95  272
 2925  106   96  545  165 1872   40   42 2550 3800 1205   77 1027 1428
 2117 1462  674 1540  930 1210 1234 1162 1261 1145 3600 1158  898  717
 1070 2036  619  115 1725 2064 1557  917  579 1920 1002  778 1567 1113
 1175 1010  618 1651  705  901 1340 1246 1099 1530 1780 1402 1484 1140
 1525 1132 3300  786 1785  803 1975  914 1170 1435 1444 1503  966 1062
 1015 1570 1157 2792 1153  506  749 1107 1235 1415  281 6000  926 2280
  826  502  833  809 2240 1424  595 1075 2317 1109 1290  939 1610  973
 1420  843 1144 1903 1383 1912 1146  909  886 1625 1535  647 1798 2061
  919 2395 1815 2290 1473 4050 2520  242 1496  878 1956 1955 1090 3133
 2050 1160 1417 1565 1675 1135 3698 2405 1248 3115  927  562 1720  103
 8000 1730  133  192 1315 1230 4761 1970 1940  167  933 1742 1838 1960
 1275 1285 2235 1283 3455 3050 7000 1606 2352 2671 1156   67 1492 2990
 2780 1685  853 2310 1965 1834   10 3789 1422 1124 4200  214  855]

Missing Values:

 0

Missing Values in %:

 0.0

[--------------------- Floor ---------------------]
Description of feature:

 count           4746
unique           480
top       1 out of 2
freq             379
Name: Floor, dtype: object

Value Counts:

 Floor
1 out of 2         379
Ground out of 2    350
2 out of 3         312
2 out of 4         308
1 out of 3         293
                  ...
11 out of 31         1
50 out of 75         1
18 out of 26         1
12 out of 27         1
23 out of 34         1
Name: count, Length: 480, dtype: int64

Unique Values:

 ['Ground out of 2' '1 out of 3' '1 out of 2' 'Ground out of 1'
 'Ground out of 4' '1 out of 4' '1 out of 1' 'Ground out of 3'
 '2 out of 3' '4 out of 5' '2 out of 2' '2 out of 5' '4 out of 14'
 '3 out of 3' '5 out of 5' '4 out of 4' '7 out of 8' '2 out of 4'
 '3 out of 4' '1 out of 5' '8 out of 5' 'Ground out of 6' '2 out of 1'
 'Upper Basement out of 4' 'Ground out of 5' '3 out of 5' '11 out of 19'
 '5 out of 10' '11 out of 14' 'Lower Basement out of 2' '2 out of 7'
 '4 out of 10' '7 out of 10' '2 out of 13' '6 out of 7' '4 out of 7'
 '14 out of 14' '43 out of 78' '2 out of 8' '13 out of 18' '5 out of 12'
 '18 out of 24' '3 out of 7' '17 out of 31' '11 out of 21' '7 out of 19'
 '14 out of 23' '9 out of 20' 'Upper Basement out of 9' '19 out of 24'
 '3 out of 21' '1 out of 22' '8 out of 8' '6 out of 12' '4 out of 58'
 'Upper Basement out of 16' '60 out of 66' '34 out of 48' '5 out of 8'
 '5 out of 14' '14 out of 40' '5 out of 7' '9 out of 22' '12 out of 18'
 '26 out of 44' '1 out of 8' '25 out of 42' '25 out of 41' '53 out of 78'
 'Ground out of 7' '14 out of 20' '13 out of 20' '16 out of 23'
 '10 out of 18' '39 out of 60' '16 out of 21' '10 out of 32' '4 out of 8'
 '12 out of 24' '32 out of 41' '3 out of 30' '13 out of 21' '9 out of 29'
 '47 out of 89' '7 out of 41' '28 out of 30' '13 out of 15' '6 out of 21'
 '8 out of 16' '2 out of 6' '5 out of 19' '3 out of 11' '17 out of 42'
 '10 out of 12' '8 out of 28' '9 out of 15' '14 out of 22' '18 out of 40'
 '9 out of 17' '12 out of 45' '25 out of 35' '7 out of 15' '10 out of 16'
 'Upper Basement out of 20' '5 out of 20' 'Upper Basement out of 40'
 '5 out of 18' '34 out of 58' '4 out of 6' '20 out of 22' '12 out of 19'
 '15 out of 18' '65 out of 78' '6 out of 16' '17 out of 22' '6 out of 24'
 '40 out of 75' '19 out of 38' '15 out of 31' '11 out of 28'
 '10 out of 22' '17 out of 24' '15 out of 19' '9 out of 10' '7 out of 12'
 '8 out of 20' '11 out of 13' '9 out of 19' '37 out of 51' '6 out of 11'
 '8 out of 15' '11 out of 20' '10 out of 23' 'Upper Basement out of 10'
 '7 out of 23' '4 out of 11' '17 out of 43' '7 out of 22' '14 out of 18'
 '6 out of 10' '8 out of 12' '3 out of 18' '7 out of 7' '14 out of 58'
 '18 out of 23' '19 out of 19' '13 out of 14' '7 out of 11' '11 out of 22'
 'Upper Basement out of 30' '12 out of 14' '16 out of 31' '12 out of 13'
 '11 out of 51' '2 out of 12' '22 out of 24' '7 out of 14' '5 out of 13'
 '7 out of 21' '14 out of 21' '17 out of 25' '9 out of 14' '8 out of 27'
 '3 out of 6' '17 out of 20' '18 out of 22' '1 out of 7' '9 out of 30'
 '3 out of 8' '11 out of 26' '17 out of 27' '4 out of 12' '12 out of 16'
 '10 out of 24' '65 out of 76' '7 out of 9' '17 out of 60' '10 out of 11'
 '18 out of 25' '5 out of 11' '15 out of 17' '15 out of 23' '5 out of 17'
 '3 out of 28' '5 out of 24' '16 out of 32' '21 out of 22' '7 out of 13'
 '9 out of 12' '15 out of 32' '18 out of 27' '15 out of 16' '18 out of 45'
 '15 out of 15' '6 out of 14' '1 out of 20' '16 out of 36' '30 out of 44'
 '30 out of 37' '2 out of 9' '12 out of 22' '4 out of 9' '2 out of 22'
 '5 out of 6' '6 out of 18' '35 out of 55' '16 out of 29' '30 out of 45'
 '5 out of 9' '16 out of 25' '33 out of 42' '4 out of 16' '13 out of 23'
 '9 out of 38' '6 out of 8' '8 out of 13' '19 out of 30' '10 out of 14'
 '11 out of 24' '9 out of 16' '9 out of 31' '4 out of 15' '3 out of 9'
 '22 out of 30' '3 out of 58' '1 out of 9' '53 out of 60' '5 out of 22'
 '15 out of 22' '19 out of 21' '9 out of 40' 'Ground out of 8'
 '44 out of 75' '8 out of 17' '3 out of 14' '12 out of 31' '26 out of 42'
 '2 out of 45' '12 out of 68' '17 out of 36' '10 out of 28' '41 out of 41'
 '14 out of 68' '14 out of 17' '15 out of 20' '46 out of 76'
 '12 out of 20' '20 out of 30' '18 out of 32' '10 out of 25'
 '17 out of 29' '10 out of 31' '10 out of 15' '13 out of 16' '8 out of 10'
 '18 out of 21' '27 out of 58' '1 out of 6' '19 out of 25' '3 out of 15'
 '25 out of 43' '8 out of 14' '11 out of 12' '9 out of 21' '10 out of 13'
 '45 out of 77' '18 out of 19' '10 out of 20' '12 out of 29'
 'Lower Basement out of 18' '15 out of 24' '48 out of 68' '12 out of 42'
 '16 out of 22' '35 out of 68' '18 out of 30' '11 out of 31'
 '50 out of 75' '18 out of 26' '12 out of 27' '16 out of 20'
 '24 out of 55' '16 out of 37' 'Upper Basement out of 7' '6 out of 15'
 '11 out of 27' '11 out of 23' '3 out of 12' '14 out of 15' '23 out of 25'
 '14 out of 48' '29 out of 35' '15 out of 36' '15 out of 25'
 '15 out of 28' '3 out of 36' '8 out of 11' '6 out of 20' '23 out of 23'
 '5 out of 15' '16 out of 18' '2 out of 10' '40 out of 50' '25 out of 28'
 '12 out of 17' '34 out of 40' 'Upper Basement out of 22' '8 out of 23'
 '5 out of 21' '32 out of 59' '20 out of 32' '9 out of 18' '10 out of 37'
 '25 out of 48' '4 out of 22' '8 out of 18' '11 out of 11' '5 out of 23'
 '60 out of 77' '11 out of 18' '4 out of 20' '5 out of 16' '3 out of 13'
 '30 out of 58' '15 out of 43' '7 out of 16' '18 out of 28' '9 out of 55'
 '11 out of 25' '49 out of 55' '7 out of 27' '14 out of 27' '16 out of 27'
 '25 out of 50' '6 out of 30' '21 out of 23' '8 out of 58' '20 out of 41'
 '3 out of 62' '4 out of 13' '7 out of 17' '12 out of 21' '28 out of 39'
 '15 out of 58' '6 out of 23' '36 out of 45' '9 out of 28' '6 out of 45'
 '22 out of 52' '10 out of 19' '21 out of 58' '48 out of 54' '7 out of 28'
 '11 out of 15' '19 out of 22' '15 out of 37' '2 out of 17' '76 out of 78'
 '3 out of 10' '20 out of 27' '8 out of 36' '14 out of 33' '21 out of 21'
 '12 out of 25' '18 out of 29' '14 out of 35' '7 out of 20' '20 out of 37'
 '9 out of 35' '27 out of 27' '15 out of 60' '19 out of 33' '18 out of 20'
 '13 out of 40' '9 out of 11' '8 out of 22' '6 out of 13' '20 out of 31'
 '27 out of 45' '19 out of 20' '32 out of 46' '19 out of 85' '3 out of 23'
 '34 out of 46' '4 out of 27' '19 out of 27' '35 out of 60' '21 out of 33'
 '25 out of 52' '2 out of 24' '24 out of 24' '18 out of 33' '1 out of 10'
 '45 out of 60' '60 out of 71' '36 out of 81' '24 out of 60'
 '16 out of 38' '8 out of 45' 'Ground out of 16' '8 out of 32'
 '10 out of 10' '23 out of 40' '7 out of 18' '8 out of 19' '6 out of 17'
 '16 out of 34' 'Ground out of 12' '6 out of 9' 'Ground out of 18'
 '20 out of 25' '3 out of 22' '9 out of 32' '26 out of 32' '17 out of 18'
 '24 out of 25' '19 out of 26' '17 out of 19' '1 out of 13' '14 out of 30'
 '8 out of 9' '3 out of 17' 'Lower Basement out of 3' '12 out of 23'
 'Ground out of 9' '1 out of 24' '1 out of 12' '3' 'Ground' '15 out of 29'
 '20 out of 20' '14 out of 29' 'Lower Basement out of 1' '13 out of 17'
 '1 out of 14' 'Upper Basement out of 2' '2 out of 14' '24 out of 31'
 '2 out of 32' '2 out of 16' '9 out of 13' '1 out of 11' '6 out of 29'
 '9 out of 9' '28 out of 31' '1 out of 15' 'Ground out of 14'
 '2 out of 11' '19 out of 31' '1 out of 16' '25 out of 32' '11 out of 16'
 '11 out of 17' 'Upper Basement out of 3' '4 out of 24' '1 out of 19'
 '7 out of 30' '16 out of 19' 'Upper Basement out of 5' 'Ground out of 13'
 '2 out of 25' '23 out of 30' '4 out of 30' '13 out of 25' '23 out of 35'
 'Ground out of 10' '5 out of 34' '20 out of 35' '1' '4 out of 31'
 '4 out of 26' '24 out of 33' '4 out of 17' '1 out of 35' '11 out of 35'
 'Ground out of 15' 'Ground out of 27' '15 out of 30' '12 out of 30'
 '23 out of 34']

Missing Values:

 0

Missing Values in %:

 0.0

[--------------------- Area Type ---------------------]
Description of feature:

 count           4746
unique             3
top       Super Area
freq            2446
Name: Area Type, dtype: object

Value Counts:

 Area Type
Super Area     2446
Carpet Area    2298
Built Area        2
Name: count, dtype: int64

Unique Values:

 ['Super Area' 'Carpet Area' 'Built Area']

Missing Values:

 0

Missing Values in %:

 0.0

[--------------------- Area Locality ---------------------]
Description of feature:

 count            4746
unique           2235
top       Bandra West
freq               37
Name: Area Locality, dtype: object

Value Counts:

 Area Locality
Bandra West                                37
Gachibowli                                 29
Electronic City                            24
Velachery                                  22
Miyapur, NH 9                              22
                                           ..
Kengeri Upanagara                           1
Ittamadu, Banashankari, Outer Ring Road     1
Rmv Extension, Armane Nagar                 1
snv la                                      1
Manikonda, Hyderabad                        1
Name: count, Length: 2235, dtype: int64

Unique Values:

 ['Bandel' 'Phool Bagan, Kankurgachi' 'Salt Lake City Sector 2' ...
 'BN Reddy Nagar' 'Godavari Homes, Quthbullapur' 'Manikonda, Hyderabad']

Missing Values:

 0

Missing Values in %:

 0.0

[--------------------- City ---------------------]
Description of feature:

 count       4746
unique         6
top       Mumbai
freq         972
Name: City, dtype: object

Value Counts:

 City
Mumbai       972
Chennai      891
Bangalore    886
Hyderabad    868
Delhi        605
Kolkata      524
Name: count, dtype: int64

Unique Values:

 ['Kolkata' 'Mumbai' 'Bangalore' 'Delhi' 'Chennai' 'Hyderabad']

Missing Values:

 0

Missing Values in %:

 0.0

[--------------------- Furnishing Status ---------------------]
Description of feature:

 count               4746
unique                 3
top       Semi-Furnished
freq                2251
Name: Furnishing Status, dtype: object

Value Counts:

 Furnishing Status
Semi-Furnished    2251
Unfurnished       1815
Furnished          680
Name: count, dtype: int64

Unique Values:

 ['Unfurnished' 'Semi-Furnished' 'Furnished']

Missing Values:

 0

Missing Values in %:

 0.0

[--------------------- Tenant Preferred ---------------------]
Description of feature:

 count                 4746
unique                   3
top       Bachelors/Family
freq                  3444
Name: Tenant Preferred, dtype: object

Value Counts:

 Tenant Preferred
Bachelors/Family    3444
Bachelors            830
Family               472
Name: count, dtype: int64

Unique Values:

 ['Bachelors/Family' 'Bachelors' 'Family']

Missing Values:

 0

Missing Values in %:

 0.0

[--------------------- Bathroom ---------------------]
Description of feature:

 count    4746.000000
mean        1.965866
std         0.884532
min         1.000000
25%         1.000000
50%         2.000000
75%         2.000000
max        10.000000
Name: Bathroom, dtype: float64

Value Counts:

 Bathroom
2     2291
1     1474
3      749
4      156
5       60
6       12
7        3
10       1
Name: count, dtype: int64

Unique Values:

 [ 2  1  3  5  4  6  7 10]

Missing Values:

 0

Missing Values in %:

 0.0

[--------------------- Point of Contact ---------------------]
Description of feature:

 count              4746
unique                3
top       Contact Owner
freq               3216
Name: Point of Contact, dtype: object

Value Counts:

 Point of Contact
Contact Owner      3216
Contact Agent      1529
Contact Builder       1
Name: count, dtype: int64

Unique Values:

 ['Contact Owner' 'Contact Agent' 'Contact Builder']

Missing Values:

 0

Missing Values in %:

 0.0

In [95]:
data['Rent'].describe()

count    4.746000e+03
mean     3.499345e+04
std      7.810641e+04
min      1.200000e+03
25%      1.000000e+04
50%      1.600000e+04
75%      3.300000e+04
max      3.500000e+06
Name: Rent, dtype: float64

In [97]:
data[data['Rent'] > 10000]

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
8,2022-06-07,2,26000,800,1 out of 2,Carpet Area,"Palm Avenue Kolkata, Ballygunge",Kolkata,Unfurnished,Bachelors,2,Contact Agent
10,2022-05-23,3,25000,1200,1 out of 4,Carpet Area,"Action Area 1, Rajarhat Newtown",Kolkata,Semi-Furnished,Bachelors/Family,2,Contact Agent
15,2022-06-01,3,40000,1286,1 out of 1,Carpet Area,New Town Action Area 1,Kolkata,Furnished,Bachelors/Family,2,Contact Owner
...,...,...,...,...,...,...,...,...,...,...,...,...
4741,2022-05-18,2,15000,1000,3 out of 5,Carpet Area,Bandam Kommu,Hyderabad,Semi-Furnished,Bachelors/Family,2,Contact Owner
4742,2022-05-15,3,29000,2000,1 out of 4,Super Area,"Manikonda, Hyderabad",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Owner
4743,2022-07-10,3,35000,1750,3 out of 5,Carpet Area,"Himayath Nagar, NH 7",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Agent
4744,2022-07-06,3,45000,1500,23 out of 34,Carpet Area,Gachibowli,Hyderabad,Semi-Furnished,Family,2,Contact Agent
4745,2022-05-04,2,15000,1000,4 out of 5,Carpet Area,Suchitra Circle,Hyderabad,Unfurnished,Bachelors,2,Contact Owner

In [99]:
data[data['Rent'] > 10000][['Rent','Area Type']]

       Rent    Area Type
1     20000   Super Area
2     17000   Super Area
8     26000  Carpet Area
10    25000  Carpet Area
15    40000  Carpet Area
...     ...          ...
4741  15000  Carpet Area
4742  29000   Super Area
4743  35000  Carpet Area
4744  45000  Carpet Area
4745  15000  Carpet Area

[3418 rows x 2 columns]

In [1439]:
data[data['Rent'] > 10000].index

Index([   1,    2,    8,   10,   15,   18,   29,   31,   34,   35,
       ...
       4736, 4737, 4738, 4739, 4740, 4741, 4742, 4743, 4744, 4745],
      dtype='int64', length=3418)

In [106]:
data.columns

Index(['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact'],
      dtype='object')

In [1515]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
for column in data.select_dtypes(include = object).columns.tolist():
    data[column] = encoder.fit_transform(data[column])

In [1516]:
X = data[['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact']]
X

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,19,2,10000,1100,396,2,1347,4,2,1,2,2
1,14,2,20000,800,46,2,588,4,1,1,1,2
2,17,2,17000,1000,46,2,847,4,1,1,1,2
3,71,2,10000,800,2,2,1710,4,2,1,1,2
4,9,2,7500,850,2,1,991,4,2,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
4741,19,2,15000,1000,192,1,1324,3,1,1,2,2
4742,16,3,29000,2000,68,2,241,3,1,1,3,2
4743,77,3,35000,1750,192,1,1930,3,1,1,3,0
4744,73,3,45000,1500,142,1,1781,3,1,2,2,0
4745,4,2,15000,1000,239,1,1019,3,2,0,2,2

In [1517]:
y = data[['Rent']]
y

       Rent
0     10000
1     20000
2     17000
3     10000
4      7500
...     ...
4741  15000
4742  29000
4743  35000
4744  45000
4745  15000

[4746 rows x 1 columns]

In [1518]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [1519]:
X_test

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
1566,59,2,16000,1100,110,2,2063,0,2,1,2,2
3159,13,2,12000,800,108,2,240,1,0,1,2,2
538,10,2,28000,518,261,1,1444,5,1,1,2,2
2630,42,3,8000,1500,1,1,1561,2,2,1,3,2
4418,73,3,46000,2235,388,1,1781,3,2,2,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4124,78,2,18000,1248,239,1,44,3,1,1,2,2
3400,7,3,25000,1100,396,2,1133,1,2,1,2,2
1941,65,2,14000,950,110,2,1746,0,2,1,2,2
3679,5,3,26000,1125,108,2,641,1,1,1,2,2
2531,30,1,11000,500,114,2,521,2,1,1,1,2

In [1520]:
y_train

       Rent
1995  23500
1497  10500
2763  19000
1351  20000
1862  17000
...     ...
4426  25000
466   20000
3092  20000
3772  85000
860   25000

[3796 rows x 1 columns]

In [1521]:
y_test

       Rent
1566  16000
3159  12000
538   28000
2630   8000
4418  46000
...     ...
4124  18000
3400  25000
1941  14000
3679  26000
2531  11000

[950 rows x 1 columns]

In [1522]:
lr = LinearRegression()
lr.fit(X_test, y_test)

LinearRegression()

In [1523]:
y_train_pred = lr.predict(X_train)
y_test_pred = lr.predict(X_test)

In [1524]:
y_train

       Rent
1995  23500
1497  10500
2763  19000
1351  20000
1862  17000
...     ...
4426  25000
466   20000
3092  20000
3772  85000
860   25000

[3796 rows x 1 columns]

In [1525]:
y_train_pred

array([[23500.],
       [10500.],
       [19000.],
       ...,
       [20000.],
       [85000.],
       [25000.]])

In [1526]:
y_test

       Rent
1566  16000
3159  12000
538   28000
2630   8000
4418  46000
...     ...
4124  18000
3400  25000
1941  14000
3679  26000
2531  11000

[950 rows x 1 columns]

In [1527]:
y_test_pred

array([[  16000.],
       [  12000.],
       [  28000.],
       [   8000.],
       [  46000.],
       [  17000.],
       [  57000.],
       [   9500.],
       [ 400000.],
       [  15000.],
       [  10000.],
       [  12000.],
       [  27000.],
       [  16000.],
       [  15000.],
       [   8500.],
       [ 140000.],
       [  12000.],
       [   6000.],
       [  60000.],
       [  38000.],
       [   7500.],
       [  23000.],
       [  14000.],
       [ 260000.],
       [   5000.],
       [   6000.],
       [  16500.],
       [   6500.],
       [  15000.],
       [   5000.],
       [  14000.],
       [   5000.],
       [  12000.],
       [  25000.],
       [  25000.],
       [   7500.],
       [   6000.],
       [  17000.],
       [   7000.],
       [  13000.],
       [ 320000.],
       [  14000.],
       [   6000.],
       [  60000.],
       [  14000.],
       [  32000.],
       [  65000.],
       [ 350000.],
       [  15000.],
       [  11000.],
       [  35000.],
       [  18000.],
       [  12000.],
       [  65000.],
       [ 130000.],
       [  35000.],
       [  40000.],
       [   9000.],
       [   9000.],
       [  18000.],
       [   5000.],
       [ 130000.],
       [  12000.],
       [  50000.],
       [  20000.],
       [  18000.],
       [  15500.],
       [  34999.],
       [  30000.],
       [  13000.],
       [  24000.],
       [ 100000.],
       [   7000.],
       [  25000.],
       [  35000.],
       [  12000.],
       [  61500.],
       [  35000.],
       [  28000.],
       [  14000.],
       [  10000.],
       [  33500.],
       [  10000.],
       [  12000.],
       [  45000.],
       [  36000.],
       [  18000.],
       [  25000.],
       [  27000.],
       [ 260000.],
       [  35000.],
       [  24000.],
       [ 120000.],
       [  13000.],
       [  12000.],
       [  11000.],
       [   7000.],
       [  20000.],
       [  24000.],
       [   6500.],
       [  11200.],
       [  37000.],
       [   7500.],
       [  14000.],
       [   4800.],
       [   8000.],
       [  14000.],
       [   9500.],
       [   6500.],
       [  11000.],
       [ 100000.],
       [ 210000.],
       [  25000.],
       [  31000.],
       [ 270000.],
       [  13000.],
       [   9500.],
       [   6166.],
       [  13000.],
       [  10000.],
       [  17000.],
       [ 200000.],
       [   9500.],
       [  14000.],
       [   7500.],
       [  13000.],
       [  95000.],
       [  12000.],
       [ 130000.],
       [  28000.],
       [ 140000.],
       [  26000.],
       [  48000.],
       [  24000.],
       [  22000.],
       [  12500.],
       [  15000.],
       [  30000.],
       [   7500.],
       [   8000.],
       [  10000.],
       [  10000.],
       [  35000.],
       [   6000.],
       [   5300.],
       [  20000.],
       [  10000.],
       [   7500.],
       [  20000.],
       [  18000.],
       [  80000.],
       [  58000.],
       [  23000.],
       [  23000.],
       [  12000.],
       [  50000.],
       [  15723.],
       [  13000.],
       [  22000.],
       [  11000.],
       [  85000.],
       [   8000.],
       [  20000.],
       [  25000.],
       [   5500.],
       [  15000.],
       [  14000.],
       [  11000.],
       [ 200000.],
       [  10000.],
       [   7000.],
       [  33000.],
       [  12000.],
       [  22000.],
       [  28000.],
       [   7500.],
       [  12000.],
       [  30000.],
       [  10000.],
       [   8500.],
       [   9000.],
       [  10500.],
       [  18000.],
       [  75000.],
       [   4000.],
       [  20000.],
       [  15000.],
       [  45000.],
       [   8000.],
       [  24000.],
       [  12000.],
       [  13000.],
       [  21000.],
       [  75000.],
       [  16000.],
       [   1800.],
       [   8000.],
       [  29000.],
       [  10000.],
       [  65000.],
       [  30000.],
       [   5500.],
       [  45000.],
       [  80000.],
       [  10000.],
       [   4000.],
       [   6500.],
       [   8500.],
       [   8000.],
       [  27000.],
       [  10000.],
       [  16000.],
       [  55000.],
       [   9500.],
       [  19000.],
       [   6000.],
       [   7000.],
       [  28000.],
       [ 160000.],
       [  12000.],
       [  42000.],
       [  17000.],
       [  33000.],
       [  10000.],
       [  18000.],
       [   6500.],
       [  12500.],
       [  18000.],
       [  14000.],
       [  23000.],
       [  12000.],
       [ 140000.],
       [  15000.],
       [  12000.],
       [   9000.],
       [  15000.],
       [  13500.],
       [   7000.],
       [  25000.],
       [  45000.],
       [  15000.],
       [  15500.],
       [   8000.],
       [  13000.],
       [  18000.],
       [  30000.],
       [  11000.],
       [  20000.],
       [  26000.],
       [   9000.],
       [  24000.],
       [  35000.],
       [  10000.],
       [  22000.],
       [  21000.],
       [  10000.],
       [   7000.],
       [  30000.],
       [   8000.],
       [  10000.],
       [  16000.],
       [  14000.],
       [  35000.],
       [  16000.],
       [  15000.],
       [ 250000.],
       [  25000.],
       [   7000.],
       [  80000.],
       [   6500.],
       [  65000.],
       [   8000.],
       [  16000.],
       [  11000.],
       [  65000.],
       [ 160000.],
       [   6000.],
       [   7000.],
       [  22000.],
       [  16500.],
       [  60000.],
       [  20000.],
       [  22000.],
       [ 280000.],
       [  25000.],
       [  53000.],
       [  35000.],
       [  13000.],
       [  65000.],
       [   9000.],
       [  10000.],
       [   8500.],
       [   6500.],
       [ 380000.],
       [  15000.],
       [  40000.],
       [   9000.],
       [  45000.],
       [  75000.],
       [  20000.],
       [  35000.],
       [  23000.],
       [  30000.],
       [  12500.],
       [  55000.],
       [  50000.],
       [   9000.],
       [  20000.],
       [   6000.],
       [   9000.],
       [  15000.],
       [  45000.],
       [  32500.],
       [  32000.],
       [  55000.],
       [   3000.],
       [ 100000.],
       [   7500.],
       [  14000.],
       [  85000.],
       [  12000.],
       [   9000.],
       [  25000.],
       [  25000.],
       [  15000.],
       [   6000.],
       [  17000.],
       [  15000.],
       [ 120000.],
       [  85000.],
       [  30000.],
       [   5000.],
       [   5250.],
       [   6000.],
       [   7000.],
       [ 100000.],
       [  40000.],
       [  95000.],
       [  13000.],
       [  13000.],
       [  42000.],
       [   7000.],
       [   7500.],
       [  15000.],
       [  22000.],
       [  15000.],
       [  12000.],
       [1200000.],
       [  13000.],
       [  45000.],
       [  75000.],
       [  12000.],
       [  13500.],
       [  33003.],
       [  14000.],
       [  12500.],
       [   6000.],
       [  15000.],
       [ 280000.],
       [  13000.],
       [  13000.],
       [  12000.],
       [  12000.],
       [  22000.],
       [  70000.],
       [   7000.],
       [  22000.],
       [   3500.],
       [   6800.],
       [  15500.],
       [  44000.],
       [   5000.],
       [  70000.],
       [  60000.],
       [   8000.],
       [  74999.],
       [  12000.],
       [  30000.],
       [  22000.],
       [ 330000.],
       [  10000.],
       [   6000.],
       [  15000.],
       [  55000.],
       [   8000.],
       [  30000.],
       [ 130000.],
       [  35000.],
       [  10000.],
       [   8500.],
       [   6000.],
       [  15000.],
       [   8000.],
       [  40000.],
       [  40000.],
       [   7500.],
       [   7000.],
       [ 150000.],
       [  50000.],
       [   8000.],
       [  11500.],
       [  26000.],
       [  35000.],
       [  29000.],
       [  22000.],
       [   5500.],
       [   8000.],
       [   9000.],
       [  25000.],
       [  30000.],
       [  45000.],
       [  22000.],
       [  95000.],
       [  22000.],
       [  13000.],
       [  52000.],
       [  11500.],
       [  11000.],
       [  13000.],
       [  13000.],
       [  52000.],
       [  14000.],
       [  20000.],
       [  21000.],
       [  25000.],
       [  20000.],
       [  37000.],
       [  10000.],
       [  30000.],
       [   6000.],
       [  70000.],
       [  21000.],
       [  15000.],
       [ 200000.],
       [  13500.],
       [  46000.],
       [  21000.],
       [ 250000.],
       [  14000.],
       [  18500.],
       [   7500.],
       [  40000.],
       [  20000.],
       [  15000.],
       [ 310000.],
       [  36000.],
       [  15000.],
       [  35000.],
       [  19000.],
       [  30000.],
       [   6000.],
       [  45000.],
       [  25000.],
       [  25000.],
       [   8000.],
       [  10000.],
       [   3500.],
       [  17000.],
       [   8000.],
       [  50000.],
       [  11000.],
       [  13000.],
       [  10000.],
       [  80000.],
       [  20500.],
       [  50000.],
       [  68000.],
       [  16000.],
       [  28000.],
       [   7000.],
       [ 190000.],
       [  15000.],
       [   7500.],
       [   6300.],
       [   9000.],
       [  14000.],
       [ 100000.],
       [  18000.],
       [ 230000.],
       [  10000.],
       [  10000.],
       [  49000.],
       [  18500.],
       [  12000.],
       [  12000.],
       [  10000.],
       [  40000.],
       [  14000.],
       [  65000.],
       [  13000.],
       [  80000.],
       [  20000.],
       [  19500.],
       [   8000.],
       [  20000.],
       [  20000.],
       [   8500.],
       [  10000.],
       [  10000.],
       [   5500.],
       [  16000.],
       [  25000.],
       [  14000.],
       [  12000.],
       [  62000.],
       [  30000.],
       [  58000.],
       [  25000.],
       [  46000.],
       [  12000.],
       [   6800.],
       [   6500.],
       [  16000.],
       [  10000.],
       [  15000.],
       [  45000.],
       [  18000.],
       [  45000.],
       [  30000.],
       [   8000.],
       [  12000.],
       [   5500.],
       [  14000.],
       [   5000.],
       [   8000.],
       [  10000.],
       [  15000.],
       [  12000.],
       [  32000.],
       [  13000.],
       [  20000.],
       [  70000.],
       [  80000.],
       [  15000.],
       [  40000.],
       [  10500.],
       [  13000.],
       [  90000.],
       [   5000.],
       [  13500.],
       [  10000.],
       [  30000.],
       [  20000.],
       [  40000.],
       [  13000.],
       [  38000.],
       [  15000.],
       [  11000.],
       [   8000.],
       [   7000.],
       [  12000.],
       [  21000.],
       [   9900.],
       [  17000.],
       [  28000.],
       [  10500.],
       [  23000.],
       [  12000.],
       [ 300000.],
       [  14000.],
       [  60000.],
       [  69999.],
       [  54500.],
       [   7500.],
       [  35000.],
       [  10000.],
       [  35000.],
       [   5500.],
       [  22999.],
       [  10000.],
       [   8000.],
       [  18000.],
       [  18000.],
       [  35000.],
       [  10000.],
       [  11000.],
       [   9500.],
       [  32000.],
       [  13000.],
       [   7000.],
       [  16000.],
       [  10000.],
       [  10000.],
       [  15000.],
       [  65000.],
       [  20000.],
       [  14000.],
       [  30000.],
       [ 180000.],
       [  25000.],
       [   7500.],
       [  13000.],
       [  50000.],
       [   6000.],
       [ 270000.],
       [  15000.],
       [  20000.],
       [   8000.],
       [  23000.],
       [  11000.],
       [  11000.],
       [ 280000.],
       [  23000.],
       [   8500.],
       [   9000.],
       [ 130000.],
       [ 100000.],
       [  25000.],
       [   6000.],
       [  40000.],
       [   7000.],
       [ 200000.],
       [  27000.],
       [   6000.],
       [  24000.],
       [  12500.],
       [  17000.],
       [  32000.],
       [   5000.],
       [  52000.],
       [  10000.],
       [  20000.],
       [   9500.],
       [  12500.],
       [  12000.],
       [  10000.],
       [   7000.],
       [  75000.],
       [  28000.],
       [   4700.],
       [   8000.],
       [   8000.],
       [ 180000.],
       [ 100000.],
       [   9000.],
       [  11000.],
       [  30000.],
       [   6000.],
       [   7500.],
       [   8000.],
       [  16000.],
       [  15000.],
       [   8000.],
       [  25000.],
       [  12000.],
       [  12000.],
       [   6200.],
       [  14000.],
       [  10000.],
       [  10000.],
       [  10000.],
       [  13500.],
       [  16000.],
       [  15000.],
       [  25000.],
       [  11000.],
       [  35000.],
       [  30000.],
       [  28000.],
       [  40000.],
       [  10000.],
       [  28000.],
       [   5000.],
       [   6000.],
       [   5200.],
       [  19397.],
       [  30000.],
       [  15000.],
       [  10000.],
       [  70000.],
       [  20000.],
       [  15000.],
       [   6500.],
       [  32000.],
       [   7000.],
       [  12000.],
       [  30000.],
       [  15000.],
       [  24500.],
       [  30000.],
       [  35000.],
       [  12000.],
       [  20000.],
       [  22000.],
       [  22000.],
       [  14000.],
       [   7500.],
       [  20000.],
       [  60000.],
       [  30000.],
       [ 150000.],
       [   8000.],
       [  11500.],
       [  21000.],
       [   7000.],
       [ 180000.],
       [ 200000.],
       [  20000.],
       [  10500.],
       [   7000.],
       [  32000.],
       [   8000.],
       [  34000.],
       [  50000.],
       [  32000.],
       [   9500.],
       [  25000.],
       [   6500.],
       [   5000.],
       [   6000.],
       [   8500.],
       [   7000.],
       [  18999.],
       [   8000.],
       [  20000.],
       [ 150000.],
       [  50000.],
       [  14000.],
       [  18000.],
       [  17000.],
       [   8000.],
       [ 140000.],
       [  10000.],
       [  22000.],
       [  20000.],
       [  28000.],
       [  12000.],
       [  45000.],
       [  15000.],
       [   7000.],
       [  12000.],
       [  15000.],
       [   3500.],
       [  11000.],
       [   9000.],
       [  68000.],
       [  15000.],
       [  18000.],
       [   8000.],
       [ 150000.],
       [   8000.],
       [  13000.],
       [  12000.],
       [ 120000.],
       [  35000.],
       [   6500.],
       [ 170000.],
       [  45000.],
       [ 190000.],
       [  13500.],
       [  38000.],
       [  45000.],
       [  20000.],
       [  39000.],
       [  17000.],
       [   8000.],
       [   4300.],
       [   8000.],
       [  18000.],
       [  10000.],
       [   4500.],
       [   8000.],
       [  12000.],
       [   5000.],
       [  15000.],
       [  65000.],
       [   8500.],
       [  13000.],
       [  14500.],
       [  60000.],
       [  22000.],
       [  16000.],
       [  19000.],
       [  29000.],
       [  24000.],
       [   5000.],
       [  75000.],
       [   8500.],
       [  90000.],
       [  20000.],
       [ 180000.],
       [  10000.],
       [  20000.],
       [   9000.],
       [  20000.],
       [  13000.],
       [  13000.],
       [  12000.],
       [   9000.],
       [  24000.],
       [  30000.],
       [  75000.],
       [  15000.],
       [  35000.],
       [   7000.],
       [  13000.],
       [  35000.],
       [  12000.],
       [  30000.],
       [  75000.],
       [  20000.],
       [  50000.],
       [ 130000.],
       [  18000.],
       [  12000.],
       [   9000.],
       [  12000.],
       [   5000.],
       [  10000.],
       [  54000.],
       [  35000.],
       [  20000.],
       [   7500.],
       [   8000.],
       [  25000.],
       [   6500.],
       [  15000.],
       [  22000.],
       [  23000.],
       [  14000.],
       [  27999.],
       [ 400000.],
       [  55000.],
       [  13000.],
       [  14000.],
       [  13000.],
       [  12000.],
       [   6700.],
       [  60000.],
       [  45000.],
       [  25000.],
       [  32000.],
       [  26000.],
       [  44300.],
       [  30000.],
       [  43000.],
       [  55000.],
       [  29000.],
       [  60000.],
       [  14000.],
       [ 150000.],
       [ 130000.],
       [ 150000.],
       [  18000.],
       [  12000.],
       [  10000.],
       [  14000.],
       [  30000.],
       [  15000.],
       [  20000.],
       [  23000.],
       [   7000.],
       [   9000.],
       [   9500.],
       [  39000.],
       [  32000.],
       [  18000.],
       [   7000.],
       [   9500.],
       [  18000.],
       [   6500.],
       [  12000.],
       [  70000.],
       [  12000.],
       [   8000.],
       [  32000.],
       [  15000.],
       [  12000.],
       [  14000.],
       [  10000.],
       [   8000.],
       [   6000.],
       [  39000.],
       [   8000.],
       [  17000.],
       [   6500.],
       [  17681.],
       [  52000.],
       [  12000.],
       [   7000.],
       [  10500.],
       [ 110000.],
       [ 180000.],
       [  15000.],
       [  12500.],
       [  25000.],
       [  40000.],
       [  20000.],
       [  18000.],
       [   6500.],
       [  40000.],
       [   9000.],
       [   8000.],
       [   4750.],
       [  15000.],
       [ 140000.],
       [  22000.],
       [  15000.],
       [   9000.],
       [  15000.],
       [  16000.],
       [  18000.],
       [   8000.],
       [  12000.],
       [  65000.],
       [  15000.],
       [  12000.],
       [  65000.],
       [   8500.],
       [  37000.],
       [  10000.],
       [ 230000.],
       [  18000.],
       [  24000.],
       [  17000.],
       [ 100000.],
       [  15000.],
       [   5000.],
       [  25000.],
       [   5000.],
       [ 100000.],
       [  13000.],
       [  95000.],
       [  15000.],
       [  10000.],
       [  12000.],
       [  11000.],
       [  11000.],
       [  18000.],
       [  35000.],
       [  15000.],
       [  14000.],
       [  11000.],
       [  15000.],
       [  15000.],
       [  10000.],
       [  80000.],
       [  12000.],
       [  20000.],
       [  25000.],
       [  11500.],
       [  13000.],
       [   6000.],
       [  12500.],
       [  18000.],
       [  25000.],
       [  14000.],
       [  26000.],
       [  11000.]])

In [1528]:
X.columns

Index(['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact'],
      dtype='object')

In [1529]:
lr.coef_

array([[-2.35337586e-13,  3.22297744e-12,  1.00000000e+00,
         2.09207651e-15, -6.23849930e-16,  2.14659447e-12,
        -4.15466272e-16, -2.59132220e-13,  6.52642557e-13,
         2.20309700e-14,  1.70459079e-13, -1.92951019e-12]])

In [1555]:
# coeff_df = pd.DataFrame(lr.coef_.reshape(-1, 1), columns=['Coefficient'], index=X.columns)
# print(coeff_df)

coeff_df = pd.DataFrame(lr.coef_.reshape(12,1), columns=['Coeffiecient'], index=X.columns)
coeff_df

                   Coeffiecient
Posted On         -2.353376e-13
BHK                3.222977e-12
Rent               1.000000e+00
Size               2.092077e-15
Floor             -6.238499e-16
Area Type          2.146594e-12
Area Locality     -4.154663e-16
City              -2.591322e-13
Furnishing Status  6.526426e-13
Tenant Preferred   2.203097e-14
Bathroom           1.704591e-13
Point of Contact  -1.929510e-12

In [1556]:
mean_squared_error(y_train, y_train_pred)

1.6920683587425153e-20

In [1557]:
np.sqrt(mean_squared_error(y_train, y_train_pred))

1.300795279335882e-10

In [1558]:
mean_absolute_error(y_train, y_train_pred)

4.5591596532479326e-11

In [1559]:
r2_score(y_train, y_train_pred)

1.0

In [1580]:
print(f'Training Accuracy: {round(r2_score(y_train, y_train_pred),2)*100}%')

Training Accuracy: 100.0%

In [1561]:
def training_evaluation(actual, predicted):

 mse = mean_squared_error(actual, predicted)
 rmse = np.sqrt(mean_squared_error(actual, predicted))
 mae = mean_absolute_error(actual, predicted)
 r2 = r2_score(actual, predicted)

 print(f'MSE: {mse}')
 print(f'RMSE: {rmse}')
 print(f'MAE: {mae}')
 print(f'Training R2 Accuracy: {round(r2_score(actual, predicted), 2)*100} %')

training_evaluation(y_train, y_train_pred)

MSE: 1.6920683587425153e-20
RMSE: 1.300795279335882e-10
MAE: 4.5591596532479326e-11
Training R2 Accuracy: 100.0 %

In [1562]:
print(f'Test Accuracy: {round(r2_score(y_test, y_test_pred), 2)*100} %')

Test Accuracy: 100.0 %

In [1563]:
def test_evaluation(actual, predicted):

 mse = mean_squared_error(actual, predicted)
 rmse = np.sqrt(mean_squared_error(actual, predicted))
 mae = mean_absolute_error(actual, predicted)
 r2 = r2_score(actual, predicted)

 print(f'MSE: {mse}')
 print(f'RMSE: {rmse}')
 print(f'MAE: {mae}')
 print(f'Testing R2 Accuracy: {round(r2_score(actual, predicted), 2)*100} %')

In [1564]:
test_evaluation(y_test, y_test_pred)

MSE: 9.939688542884722e-21
RMSE: 9.969798665411816e-11
MAE: 4.447596630167314e-11
Testing R2 Accuracy: 100.0 %

In [1565]:
from sklearn.preprocessing import PolynomialFeatures

In [1566]:
poly = PolynomialFeatures(degree=2)
poly

PolynomialFeatures()

In [1567]:
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

In [1568]:
X_test

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
1566,59,2,16000,1100,110,2,2063,0,2,1,2,2
3159,13,2,12000,800,108,2,240,1,0,1,2,2
538,10,2,28000,518,261,1,1444,5,1,1,2,2
2630,42,3,8000,1500,1,1,1561,2,2,1,3,2
4418,73,3,46000,2235,388,1,1781,3,2,2,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4124,78,2,18000,1248,239,1,44,3,1,1,2,2
3400,7,3,25000,1100,396,2,1133,1,2,1,2,2
1941,65,2,14000,950,110,2,1746,0,2,1,2,2
3679,5,3,26000,1125,108,2,641,1,1,1,2,2
2531,30,1,11000,500,114,2,521,2,1,1,1,2

In [1569]:
X_train_poly

array([[ 1., 10.,  2., ...,  4.,  4.,  4.],
       [ 1., 59.,  2., ...,  4.,  4.,  4.],
       [ 1., 48.,  1., ...,  1.,  2.,  4.],
       ...,
       [ 1., 73.,  2., ...,  4.,  0.,  0.],
       [ 1., 18.,  3., ...,  9.,  0.,  0.],
       [ 1., 55.,  1., ...,  4.,  0.,  0.]])

In [1570]:
y_train

       Rent
1995  23500
1497  10500
2763  19000
1351  20000
1862  17000
...     ...
4426  25000
466   20000
3092  20000
3772  85000
860   25000

[3796 rows x 1 columns]

In [1571]:
poly_linear = LinearRegression()
poly_linear.fit(X_train_poly, y_train)

LinearRegression()

In [1572]:
y_train_pred_poly = poly_linear.predict(X_train_poly)
y_test_pred_poly = poly_linear.predict(X_test_poly)

In [1573]:
y_train

       Rent
1995  23500
1497  10500
2763  19000
1351  20000
1862  17000
...     ...
4426  25000
466   20000
3092  20000
3772  85000
860   25000

[3796 rows x 1 columns]

In [1574]:
y_train_pred_poly

array([[23500.0000033 ],
       [10500.00000394],
       [18999.99999996],
       ...,
       [19999.99999783],
       [84999.99999297],
       [24999.99999534]])

In [1575]:
def training_evaluation(actual, predicted):

 mse = mean_squared_error(actual, predicted)
 rmse = np.sqrt(mean_squared_error(actual, predicted))
 mae = mean_absolute_error(actual, predicted)
 r2 = r2_score(actual, predicted)

 print(f'MSE: {mse}')
 print(f'RMSE: {rmse}')
 print(f'MAE: {mae}')
 print(f'Training R2 Accuracy: {round(r2_score(actual, predicted), 2)*100} %')

In [1576]:
training_evaluation(y_train, y_train_pred_poly)

MSE: 1.904534699903214e-11
RMSE: 4.364097501091393e-06
MAE: 3.016609078649641e-06
Training R2 Accuracy: 100.0 %

In [1577]:
def test_evaluation(actual, predicted):

 mse = mean_squared_error(actual, predicted)
 rmse = np.sqrt(mean_squared_error(actual, predicted))
 mae = mean_absolute_error(actual, predicted)
 r2 = r2_score(actual, predicted)

 print(f'MSE: {mse}')
 print(f'RMSE: {rmse}')
 print(f'MAE: {mae}')
 print(f'Testing R2 Accuracy: {round(r2_score(actual, predicted), 2)*100} %')

In [1578]:
test_evaluation(y_test, y_test_pred_poly)

MSE: 2.8549128110470128e-11
RMSE: 5.343138413935215e-06
MAE: 3.146746306763242e-06
Testing R2 Accuracy: 100.0 %